---
import Layout from "../../layouts/LayoutZh.astro";
import Header from "../../components/zh/Header.astro";
import KvSlider from "../../components/zh/KvSlider.astro";
import WhatsNew from "../../components/zh/WhatsNew.astro";
import TwoColumnLayout from "../../components/TwoColumnLayout.astro";
import TwoColumnLayoutImage from "../../components/TwoColumnLayoutImage.astro";
import DownloadIcon from "../../components/DownloadIcon.astro";
import Footer from "../../components/zh/Footer.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="品牌表示指南" bodyId="home">
  <Header />
  <section class="kv">
    <KvSlider />
  </section>
  <section class="whats-new">
    <WhatsNew />
  </section>
  <section class="bg-blue">
    <div class="container">
      <TwoColumnLayout
        title="品牌标识标注的思路"
        linkUrl="/zh/guidelines/gl_ab_inportance_zh.html"
        linkText="品牌的重要性"
      >
        <div class="content">
          <p>
            Panasonic品牌是通过全体员工的各种活动传递给顾客，并在顾客心中形成的纽带，也是多年来通过不懈的努力建立起来的无可代替的重要资产。
          </p>
          <p>
            各位在使用品牌时，遵守规则进行标注是保护Panasonic的信赖度和品牌价值的重要元素。
          </p>
        </div>
      </TwoColumnLayout>

      <TwoColumnLayout
        title="标注的基本原则"
        linkUrl="/zh/guidelines/gl_bp_concept_disp_zh.html"
        linkText="品牌标注的基本原则"
      >
        <div class="content">
          <h3>标注的基本原则，规定要重视独特性、合法性和辨识性。</h3>
          <div class="white_box">
            <div class="text_row">
              <div class="text_head">
                <h4>独特性:</h4>
              </div>
              <div class="text_body">
                <p>始终进行独立标注，并始终再现统一的标注。</p>
              </div>
            </div>
            <div class="text_row">
              <div class="text_head">
                <h4>合法性:</h4>
              </div>
              <div class="text_body">
                <p>保障并正确维护自身的权利，尊重且不侵犯其他公司的权利。</p>
              </div>
            </div>
            <div class="text_row">
              <div class="text_head">
                <h4>辨识性:</h4>
              </div>
              <div class="text_body">
                <p>
                  必须考虑尺寸和配色，以避免出现标识无法辨认或缺乏清晰度等。
                </p>
              </div>
            </div>
          </div>
        </div>
      </TwoColumnLayout>
    </div>
  </section>
  <section class="logo_kind">
    <div class="container">
      <TwoColumnLayout
        title="使用的品牌标识的类型"
        linkUrl="/zh/guidelines/gl_be_pl_plogo_zh.html"
        linkText="基本要素的规则"
      >
        <div class="content">
          <div class="flexbox">
            <div class="flexbox_item">
              <img
                src="/src/assets_2025/images/top/logo.png"
                alt="パナソニックロゴ"
              />
            </div>
            <div class="flexbox_item">
              <img
                src="/src/assets_2025/images/top/logo.png"
                alt="パナソニックロゴ"
              />
            </div>
            <div class="flexbox_item">
              <img
                src="/src/assets_2025/images/top/logo.png"
                alt="パナソニックロゴ"
              />
            </div>
          </div>
          <p>
            通常使用<a href="/zh/guidelines/gl_be_pl_standardlogo_zh.html"
              >基本型标识</a
            >（长宽比1:6.7）。在使用说明书、施工说明、包装箱和日本国外的目录背面使用
            <a href="/zh/guidelines/gl_be_pl_rtrademark_zh.html"
              >带注册商标®的标识</a
            >。
            在宽度小于40mm的产品机体或建筑物的屋顶等处进行标注时，可使用考虑到辨识性的
            <a href="/zh/guidelines/gl_be_pl_spe_proportion_zh.html"
              >特殊规格标识</a
            >（1:7）。
          </p>
        </div>
        <div class="download_btns">
          <div class="download_btn">
            <a href="/zh/guidelines/gl_ld_logo_download_zh.html">
              <div class="icon">
                <DownloadIcon />
              </div>
              <div class="text">
                <p>标识下载</p>
                <p><span>集团员工</span></p>
              </div>
            </a>
          </div>
          <div class="download_btn">
            <a href="/zh/guidelines/gl_ld_logomanual_external_zh.html">
              <div class="icon">
                <DownloadIcon />
              </div>
              <div class="text">
                <p>标识下载</p>
                <p><span>集团外</span></p>
              </div>
            </a>
          </div>
        </div>
      </TwoColumnLayout>
    </div>
  </section>
  <section class="point bg-blue">
    <div class="container">
      <div class="section_head">
        <h2>标注时的注意事项</h2>
      </div>
      <TwoColumnLayoutImage
        imageUrl="/src/assets_2025/images/top/img_point01.png"
        alt="保护区"
        title="保护区"
      >
        <h3 class="pc">保护区</h3>
        <p>
          为确保Panasonic品牌标识始终独立标注并具有象征性，需提高其辨识性和独立性，为此必须确保标识周边的充分余白。
        </p>
        <p>
          不能在紧靠其他名称、记号、图形、文章等的位置进行标注。在标注面的布局中，仅限于难以确保1.0H以上的空间时，才允许使用规定的特例标注。
        </p>
        <div class="link_list_box">
          <ul class="link_lists">
            <li>
              <a href="/zh/guidelines/gl_be_pl_clearspace_zh.html"
                >保护区 <i class="arrow-right"></i></a
              >
            </li>
          </ul>
        </div>
      </TwoColumnLayoutImage>
      <TwoColumnLayoutImage
        imageUrl="/src/assets_2025/images/top/img_point02.png"
        alt="Logo and Background Colors"
        title="Logo and Background Colors"
      >
        <h3 class="pc">关于标识颜色和背景色</h3>
        <p>
          在标注Panasonic标识时，在白色背景下Panasonic标识使用基准色的Panasonic蓝。<br
          />
          基准色为背景时，作为基本，Panasonic标识使用白色。
        </p>

        <div class="link_list_box">
          <ul class="link_lists">
            <li>
              <a href="/zh/guidelines/gl_be_pl_panablue_zh.html"
                >Panasonic蓝 <i class="arrow-right"></i></a
              >
            </li>
            <li>
              <a href="/zh/guidelines/gl_be_pl_colorpriority_zh.html"
                >配色的优先顺序 <i class="arrow-right"></i></a
              >
            </li>
            <li>
              <a href="/zh/guidelines/gl_be_pl_backcolor_zh.html"
                >标识背景色 <i class="arrow-right"></i></a
              >
            </li>
            <li>
              <a href="/zh/rules_approval/cr_co_app_backcolor_zh.html"
                >照片背景的特例审批 <i class="arrow-right"></i></a
              >
            </li>
            <li>
              <a href="/zh/rules_approval/cr_co_spe_backcolor_zh.html"
                >关于背景色的特例 <i class="arrow-right"></i></a
              >
            </li>
          </ul>
        </div>
      </TwoColumnLayoutImage>
      <TwoColumnLayoutImage
        imageUrl="/src/assets_2025/images/top/img_point03.png"
        alt="错误标注事"
        title="错误标注事"
      >
        <h3 class="pc">错误标注事</h3>
        <p>
          Panasonic标识是公司的象征，必须始终体现同一形象。<br />
          为此，Panasonic标识要使用规定形状的标识，不能随意进行变形及加工。
        </p>
        <div class="link_list_box">
          <ul class="link_lists">
            <li>
              <a href="/zh/guidelines/gl_be_pl_corincor_zh.html"
                >标注例 <i class="arrow-right"></i></a
              >
            </li>
            <li>
              <a href="/zh/guidelines/gl_be_pl_colcombi_zh.html"
                >配色 <i class="arrow-right"></i></a
              >
            </li>
            <li>
              <a href="/zh/guidelines/gl_be_pl_backphoto_zh.html"
                >背景照片 <i class="arrow-right"></i></a
              >
            </li>
            <li>
              <a href="/zh/guidelines/gl_be_pl_exdispvideo_zh.html"
                >影像 <i class="arrow-right"></i></a
              >
            </li>
            <li>
              <a href="/zh/guidelines/gl_be_cl_bodytext_corincor_zh.html"
                >文中 <i class="arrow-right"></i></a
              >
            </li>
          </ul>
        </div>
      </TwoColumnLayoutImage>
    </div>
  </section>

  <section>
    <div class="container">
      <TwoColumnLayout
        title="公司名称标识"
        linkUrl="/zh//guidelines/gl_be_cl_comlogo_zh.html"
        linkText="公司名称标识"
      >
        <div class="content">
          <div class="flexbox">
            <div class="flexbox_item">
              <img
                src="/src/assets_2025/images/top/img_pud01.png"
                alt="パナソニックホールディングス株式会社"
              />
            </div>
            <div class="flexbox_item">
              <img
                src="/src/assets_2025/images/top/img_pud02.png"
                alt="Panasonic Holdings Corporation"
              />
            </div>
          </div>
          <p>标注公司名称时的规定字体，英语和日语均为PUD新Gothic字体表示-M。</p>
          <div class="link_list_box">
            <ul class="link_lists">
              <li>
                <a href="/zh/guidelines/gl_ld_Affil_com_logo_zh.html"
                  >公司名称标识数据 <i class="arrow-right"></i></a
                >
              </li>
              <li>
                <a href="/zh/guidelines/gl_be_cl_group_corincor_zh.html"
                  >公司名称和企业集团标注事例（正、误） <i class="arrow-right"
                  ></i></a
                >
              </li>
              <li>
                <a href="/zh/guidelines/gl_be_pf_pudfont_zh.html"
                  >PUD字体 <i class="arrow-right"></i></a
                >
              </li>
            </ul>
          </div>
        </div>
      </TwoColumnLayout>
    </div>
  </section>
  <section class="bg-blue">
    <div class="container">
      <TwoColumnLayout
        title="各种下载一览"
        linkUrl="/zh/guidelines/gl_ld_logo_download_zh.html"
        linkText="标识 / 下载"
        subTitle="（各种标识、标语、字体、模板、申请书等）"
      >
        <div class="content">
          <p>可下载各种标识、字体和模板、审批、手续所需的申请书等数据。</p>
        </div>
      </TwoColumnLayout>
    </div>
  </section>
  <section>
    <div class="container">
      <TwoColumnLayout
        title="其他标注规则 一览"
        linkUrl="/zh/guidelines/gl_otherrules_zh.html"
        linkText="其他标注规则"
      >
        <div class="content">
          <p>
            关于Panasonic品牌的使用和标注，以下是全公司品牌战略担当部门以外的部门和事业公司制定的规程、规格、手册的链接一览。
          </p>
        </div>
      </TwoColumnLayout>
    </div>
  </section>
  <section class="bg-blue">
    <div class="container">
      <TwoColumnLayout
        title="全公司规程、审批、手续一览"
        linkUrl="/zh/rules_approval/cr_procedure_zh.html"
        linkText="审批、手续"
      >
        <div class="content">
          <p>
            关于在品牌和公司名称方面需审批的事项，对审批的手续方法进行了规定。
          </p>

          <div class="link_list_box">
            <ul class="link_lists">
              <li>
                <a href="rules_approval/cr_co_spe_backcolor_zh.html">
                  背景色的特例 <i class="arrow-right"></i>
                </a>
              </li>
              <li>
                <a href="rules_approval/cr_na_panasonic_brand_zh.html">
                  品牌冠名名称的注册 <i class="arrow-right"></i>
                </a>
              </li>
              <li>
                <a href="rules_approval/cr_cs_promotion_zh.html">
                  宣传、促销的双重品牌 <i class="arrow-right"></i>
                </a>
              </li>
              <li>
                <a href="rules_approval/cr_cs_good_service_zh.html">
                  商品和服务中的双重品牌 <i class="arrow-right"></i>
                </a>
              </li>
              <li>
                <a href="rules_approval/cr_sp_disp_product_zh.html">
                  商品品牌标注的特例 <i class="arrow-right"></i>
                </a>
              </li>
              <li>
                <a href="rules_approval/cr_co_spe_brandlogo_zh.html">
                  品牌标识的特殊使用 <i class="arrow-right"></i>
                </a>
              </li>
              <li>
                <a href="rules_approval/cr_nb_good_service_zh.html">
                  无品牌 <i class="arrow-right"></i>
                </a>
              </li>
              <li>
                <a href="rules_approval/cr_mc_licens_merchand_zh.html">
                  商品化权的许可 <i class="arrow-right"></i>
                </a>
              </li>
              <li>
                <a href="guidelines/gl_ap_as_tvcm_zh.html">
                  电视广告等的视频CI规则的特例 <i class="arrow-right"></i>
                </a>
              </li>
              <li>
                <a href="rules_approval/cr_domain_name_zh.html">
                  域名申请 <i class="arrow-right"></i>
                </a>
              </li>
              <li>
                <a href="rules_approval/cr_co_composite_logo_zh.html">
                  复合标识 <i class="arrow-right"></i>
                </a>
              </li>
              <li>
                <a href="rules_approval/cr_tr_app_licensing_zh.html">
                  品牌许可审批 <i class="arrow-right"></i>
                </a>
              </li>
              <li>
                <a href="rules_approval/cr_cn_rulenaming_affil_zh.html">
                  公司名称的赋予 <i class="arrow-right"></i>
                </a>
              </li>
              <li>
                <a href="rules_approval/cr_estarevision_termi_zh.html">
                  品牌的制定、修改和废除 <i class="arrow-right"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </TwoColumnLayout>
    </div>
  </section>

  <section>
    <div class="container">
      <TwoColumnLayout
        title="FAQ集"
        linkUrl="/zh/faq_el/fa_index_zh.html"
        linkText="FAQ"
      >
        <div class="content">
          <p>下面介绍品牌咨询窗口收到的常见问题。</p>

          <div class="link_list_box">
            <ul class="link_lists">
              <li>
                <span
                  >小品（正在学习双重品牌）
                  <i class="arrow-right"></i></span
                >
              </li>
              <li>
                <a href="/zh/faq_el/ca_index_zh.html"
                  >判断事例集 <i class="arrow-right"></i></a
                >
              </li>
            </ul>
          </div>
        </div>
      </TwoColumnLayout>
    </div>
  </section>

  <section class="bg-blue">
    <div class="container">
      <TwoColumnLayout
        title="e-learning"
        linkUrl="/zh/faq_el/el_elearning_zh.html"
        linkText="FAQ / e-learning"
      >
        <div class="content">
          <p>
            为提高Panasonic集团员工的品牌意识，对品牌的基本概念和使用规则进行说明。
          </p>

          <div class="link_list_box">
            <ul class="link_lists">
              <li>
                <a href="/zh/faq_el/el_elearningbc_zh.html"
                  >基础讲座 <i class="arrow-right"></i></a
                >
              </li>
              <li>
                <a href="/zh/faq_el/el_elearningbr_zh.html"
                  >基本篇 <i class="arrow-right"></i></a
                >
              </li>
              <li>
                <a href="/zh/faq_el/el_elearningep_zh.html"
                  >专家篇 <i class="arrow-right"></i></a
                >
              </li>
              <li>
                <a href="/zh/faq_el/el_elearningco_zh.html"
                  >双重品牌 <i class="arrow-right"></i></a
                >
              </li>
            </ul>
          </div>
        </div>
      </TwoColumnLayout>
    </div>
  </section>
  <section>
    <div class="container">
      <TwoColumnLayout
        title="品牌咨询和审批窗口"
        linkUrl="https://iweb.is.jp.panasonic.com/brand/app/D100010.aspx?lang=ENG"
        linkText="品牌咨询和审批窗口"
      >
        <div class="content">
          <p>
            关于品牌相关的标示规则以及决策和申请书的审批咨询，请在这里进行咨询。（仅支持日语和英语）
          </p>
        </div>
      </TwoColumnLayout>
    </div>
  </section>
  <Footer />
</Layout>

<style>
  @import "/src/assets_2025/css/top.css";
</style>
