---

---

<footer>
  <div class="footer_inner">
    <div class="footer-top">
      <div class="container">
        <h2>品牌表示指南</h2>
        <div class="footer_cols">
          <div class="footer_col">
            <h3 class="js-footer-top-accordion-trigger">Panasonic标识</h3>
            <div class="footer_col_links">
              <ul>
                <li><a href="/zh/guidelines/gl_be_pl_plogo_zh.html">Panasonic标识一览</a></li>
                <li><a href="/zh/guidelines/gl_be_pl_standardlogo_zh.html">基本型标识</a></li>
                <li><a href="/zh/guidelines/gl_be_pl_rtrademark_zh.html">带注册商标®的标识</a></li>
                <li><a href="/zh/guidelines/gl_be_pl_spe_proportion_zh.html">特殊规格标识</a></li>
                <li><a href="/zh/guidelines/gl_be_pl_clearspace_zh.html">保护区</a></li>
                <li><a href="/zh/guidelines/gl_be_pl_panablue_zh.html">Panasonic蓝</a></li>
                <li><a href="/zh/guidelines/gl_be_pl_colorpriority_zh.html">Panasonic标识的标注色和优先顺序</a></li>
                <li><a href="/zh/guidelines/gl_be_pl_backcolor_zh.html">关于背景色</a></li>
                <li><a href="/zh/guidelines/gl_be_pl_colcombi_zh.html">错误配色事例</a></li>
                <li><a href="/zh/guidelines/gl_be_pl_backphoto_zh.html">背景使用照片时</a></li>
                <li><a href="/zh/guidelines/gl_be_pl_corincor_zh.html">Panasonic标识的标注事例（正、误）</a></li>
                <li><a href="/zh/guidelines/gl_be_cl_bodytext_corincor_zh.html">文中表述（正、误）</a></li>
                <li><a href="/zh/guidelines/gl_be_pl_exdispvideo_zh.html">在影像中的错误使用事例</a></li>
                <li><a href="/zh/guidelines/gl_be_pl_edgecolor_zh.html">标识文字端面颜色</a></li>
              </ul>
              <ul class="pc">
                <li><a href="/zh/guidelines/gl_be_pg_pgrouplogo_zh.html">Panasonic Group标识</a></li>
              </ul>
              <ul class="pc">
                <li><a href="/zh/guidelines/gl_be_businessbrands_zh.html">事业公司品牌</a></li>
              </ul>
              <ul class="pc">
                <li><a href="/zh/guidelines/gl_be_ig_pendorsed_indica_zh.html">Panasonic保证标注</a></li>
              </ul>
            </div>
            <div class="sp">
              <h3 class="no-child"><a href="/zh/guidelines/gl_be_pg_pgrouplogo_zh.html">Panasonic Group标识</a></h3>
              <h3 class="no-child"><a href="/zh/guidelines/gl_be_businessbrands_zh.html">事业公司品牌</a></h3>
              <h3 class="no-child"><a href="/zh/guidelines/gl_be_ig_pendorsed_indica_zh.html">Panasonic保证标注</a></h3>
            </div>
          </div>
          <div class="footer_col">
            <h3 class="js-footer-top-accordion-trigger">公司、集团名称记载</h3>
            <div class="footer_col_links">
              <ul>
                <li><a href="/zh/guidelines/gl_be_cl_comlogo_zh.html">公司名称标识</a></li>
                <li><a href="/zh/guidelines/gl_be_cl_E_divaffcomlogo_zh.html">公司名称标识：英语</a></li>
                <li><a href="/zh/guidelines/gl_be_cl_Z_divaffcomlogo_zh.html">公司名称标识：中文</a></li>
                <li><a href="/zh/guidelines/gl_be_cl_J_divaffcomlogo_zh.html">公司名称标识：日语</a></li>
                <li><a href="/zh/guidelines/gl_be_cl_grouplogo_zh.html">企业集团名称标识</a></li>
                <li><a href="/zh/guidelines/gl_be_cl_group_corincor_zh.html">公司名称和企业集团标注事例（正、误）</a></li>
              </ul>
            </div>
            <h3 class="js-footer-top-accordion-trigger">PUD字体</h3>
            <div class="footer_col_links">
              <ul>
                <li><a href="/zh/guidelines/gl_be_pf_pudfont_zh.html">所谓PUD字体</a></li>
                <li><a href="/zh/guidelines/gl_be_pf_chinesefont_zh.html">中文规定简体字字体</a></li>
              </ul>
              <ul>
                <li><a href="/zh/guidelines/gl_ap_di_digital_zh.html">关于在数字媒体中的显示</a></li>
              </ul>
              <ul>
                <li><a href="/zh/guidelines/gl_ab_scope_zh.html">关于品牌表示指南</a></li>
              </ul>
            </div>

            <div class="sp">
              <h3 class="no-child">
                <a href="/zh/guidelines/gl_ap_di_digital_zh.html">关于在数字媒体中的显示</a>
              </h3>
              <h3 class="no-child">
                <a href="/zh/guidelines/gl_ab_scope_zh.html">关于品牌表示指南</a>
              </h3>
            </div>
          </div>
          <div class="footer_col">
            <h3 class="js-footer-top-accordion-trigger">企业集团的表示</h3>
            <div class="footer_col_links">
              <ul>
                <li><a href="/zh/guidelines/gl_ap_cg_comgroup_zh.html">企业集团的表示 一览</a></li>
                <li><a href="/zh/guidelines/gl_ap_cg_badges_zh.html">员工徽章</a></li>
                <li><a href="/zh/guidelines/gl_ap_cg_flags_zh.html">公司旗</a></li>
                <li><a href="/zh/guidelines/gl_ap_cg_buildings_zh.html">建筑物</a></li>
                <li><a href="/zh/guidelines/gl_ap_cg_envelopes_zh.html">信封</a></li>
                <li><a href="/zh/guidelines/gl_ap_cg_letterheads_zh.html">信笺抬头</a></li>
                <li><a href="/zh/guidelines/gl_ap_cg_businesscards_zh.html">名片</a></li>
                <li><a href="/zh/guidelines/gl_ap_cg_nametags_zh.html">胸牌、ID卡(员工证)</a></li>
                <li><a href="/zh/guidelines/gl_ap_cg_entranssign_zh.html">入口标注</a></li>
                <li><a href="/zh/guidelines/gl_ap_cg_com_vehicles_zh.html">公司业务车</a></li>
                <li><a href="/zh/guidelines/gl_ap_cg_receptiondesk_zh.html">接待处</a></li>
                <li><a href="/zh/guidelines/gl_ap_cg_publications_zh.html">公司刊物</a></li>
                <li><a href="/zh/guidelines/gl_ap_cg_powerpoint_zh.html">PowerPoint</a></li>
              </ul>
            </div>
            <h3 class="js-footer-top-accordion-trigger">集团外的品牌使用</h3>
            <div class="footer_col_links">
              <ul>
                <li><a href="/zh/guidelines/gl_ap_os_branduse_outside_zh.html">所谓集团外的品牌使用</a></li>
                <li><a href="/zh/guidelines/gl_ap_os_branddisp_shop_zh.html">专卖店的品牌标注</a></li>
              </ul>
            </div>
          </div>
          <div class="footer_col">
            <h3 class="js-footer-top-accordion-trigger">宣传、促销相关表示</h3>
            <div class="footer_col_links">
              <ul>
                <li><a href="/zh/guidelines/gl_ap_as_adsales_promo_zh.html">宣传、促销相关表示 一览</a></li>
                <li><a href="/zh/guidelines/gl_ap_as_catalogs_zh.html">商品目录</a></li>
                <li><a href="/zh/guidelines/gl_ap_as_newsp_maga_zh.html">报纸和杂志广告</a></li>
                <li><a href="/zh/guidelines/gl_ap_as_tvcm_zh.html">电视广告等的影像</a></li>
                <li><a href="/zh/guidelines/gl_ap_as_pop_zh.html">店铺POP广告牌</a></li>
                <li><a href="/zh/guidelines/gl_ap_as_ooh_media_zh.html">户外广告</a></li>
                <li><a href="/zh/guidelines/gl_ap_as_trans_ads_zh.html">交通广告</a></li>
                <li><a href="/zh/guidelines/gl_ap_as_fair_exhibition_zh.html">展览会展位</a></li>
                <li><a href="/zh/guidelines/gl_ap_as_showroom_zh.html">展厅</a></li>
                <li><a href="/zh/guidelines/gl_ap_as_sales_vehicles_zh.html">营业车辆</a></li>
              </ul>
            </div>
            <h3 class="js-footer-top-accordion-trigger">商品、服务相关表示</h3>
            <div class="footer_col_links">
              <ul>
                <li><a href="/zh/guidelines/gl_ap_ps_goodsservices_zh.html">在商品和服务中的标注 一览</a></li>
                <li><a href="/zh/guidelines/gl_ap_ps_products_zh.html">产品</a></li>
                <li><a href="/zh/guidelines/gl_ap_ps_devices_zh.html">元器件</a></li>
                <li><a href="/zh/guidelines/gl_ap_ps_packaging_zh.html">包装箱</a></li>
                <li><a href="/zh/guidelines/gl_ap_ps_warranties_zh.html">保证书</a></li>
                <li><a href="/zh/guidelines/gl_ap_ps_opemanuals_zh.html">使用说明书和施工说明书</a></li>
                <li><a href="/zh/guidelines/gl_ap_ps_nameplate_zh.html">产品名牌</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-middle">
      <div class="container">
        <h2 class="js-middle-title">全公司规程、审批</h2>
        <div class="footer_cols">
          <div class="footer_col">
            <div class="footer_col_links">
              <ul>
                <li><a href="/zh/rules_approval/cr_procedure_zh.html">审批、手续一览</a></li>
              </ul>
              <ul>
                <li><a href="/zh/rules_approval/cr_estarevision_termi_zh.html">关于品牌的制定、修改和废除</a></li>
              </ul>
              <ul>
                <li><a href="/zh/rules_approval/cr_cn_rulenaming_affil_zh.html">关于相关公司名称赋予基准</a></li>
                <li><a href="/zh/rules_approval/cr_cn_basic_requirement_zh.html">基本条件</a></li>
                <li><a href="/zh/rules_approval/cr_cn_create_comname_zh.html">公司起名规则</a></li>
                <li><a href="/zh/rules_approval/cr_cn_chine_comname_zh.html">中文公司名称记载</a></li>
                <li><a href="/zh/rules_approval/cr_cn_nameaffil_com_zh.html">公司名称赋予审批</a></li>
              </ul>
              <ul>
                <li><a href="/zh/rules_approval/cr_tr_brand_license_zh.html">关于品牌许可规程</a></li>
                <li><a href="/zh/rules_approval/cr_tr_basic_requirements_zh.html">基本条件</a></li>
                <li><a href="/zh/rules_approval/cr_tr_agreement_zh.html">品牌许可协议</a></li>
                <li><a href="/zh/rules_approval/cr_tr_app_licensing_zh.html">品牌许可审批</a></li>
              </ul>
            </div>
          </div>
          <div class="footer_col">
            <div class="footer_col_links">
              <ul>
                <li><a href="/zh/rules_approval/cr_corprules_standard_names_zh.html">名称标注的特例</a></li>
              </ul>
              <ul>
                <li><a href="/zh/rules_approval/cr_na_panasonic_brand_zh.html">关于以品牌冠名的名称</a></li>
                <li><a href="/zh/rules_approval/cr_na_scope_registration_zh.html">审批对象</a></li>
                <li><a href="/zh/rules_approval/cr_na_method_disp_zh.html">标注方法</a></li>
                <li><a href="/zh/rules_approval/cr_na_app_name_pbrand_zh.html">以品牌冠名的名称审批</a></li>
              </ul>
              <ul>
                <li><a href="/zh/rules_approval/cr_mc_licens_merchand_zh.html">关于商品化权的许可</a></li>
                <li><a href="/zh/rules_approval/cr_mc_basic_requirement_zh.html">基本条件</a></li>
                <li><a href="/zh/rules_approval/cr_mc_app_licensing_zh.html">商品化权许可审批</a></li>
              </ul>
              <ul>
                <li><a href="/zh/rules_approval/cr_nb_good_service_zh.html">关于无品牌</a></li>
                <li><a href="/zh/rules_approval/cr_nb_app_good_service_zh.html">无品牌的审批</a></li>
              </ul>
            </div>
          </div>
          <div class="footer_col">
            <div class="footer_col_links">
              <ul>
                <li><a href="/zh/rules_approval/cr_cs_cobranding_zh.html">关于双重品牌</a></li>
                <li><a href="/zh/rules_approval/cr_cs_ope_cobrand_zh.html">关于双重品牌的种类和例外应对</a></li>
                <li><a href="/zh/rules_approval/cr_cs_good_service_zh.html">商品和服务中的双重品牌</a></li>
                <li><a href="/zh/rules_approval/cr_cs_promotion_zh.html">宣传、促销的双重品牌</a></li>
                <li><a href="/zh/rules_approval/cr_cs_tech_standard_mark_zh.html">技术和规格、认证、获奖标志</a></li>
                <li><a href="/zh/rules_approval/cr_cs_app_cobrand_zh.html">双重品牌审批</a></li>
              </ul>

              <ul>
                <li><a href="/zh/rules_approval/cr_oe_oem_zh.html">关于OEM供应</a></li>
                <li><a href="/zh/rules_approval/cr_oe_oem_transprecaut_zh.html">OEM供应交易中的注意事项</a></li>
              </ul>
              <ul>
                <li><a href="/zh/rules_approval/cr_sp_disp_product_zh.html">关于商品品牌标注的特例</a></li>
              </ul>
            </div>
          </div>
          <div class="footer_col">
            <div class="footer_col_links">
              <ul>
                <li><a href="/zh/rules_approval/cr_co_composite_logo_zh.html">关于复合标识</a></li>
                <li><a href="/zh/rules_approval/cr_co_app_composite_logo_zh.html">复合标识的审批</a></li>
              </ul>
              <ul>
                <li><a href="/zh/rules_approval/cr_co_spe_backcolor_zh.html">关于背景色的特例</a></li>
                <li><a href="/zh/rules_approval/cr_co_app_backcolor_zh.html">背景色特例审批</a></li>
              </ul>
              <ul>
                <li><a href="/zh/guidelines/gl_ap_as_tvcm_zh.html">电视广告等的视频CI规则的特例</a></li>
              </ul>
              <ul>
                <li><a href="/zh/rules_approval/cr_domain_name_zh.html">域名申请</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="footer_nav">
          <nav>
            <ul>
              <li>
                <a href="https://iweb.is.jp.panasonic.com/brand/app/D100010.aspx?lang=ENG" target="_new"
                  ><img
                    src="/src/assets_2025/images/common/icon_footer01.svg"
                    alt="窓口"
                  />品牌咨询和<br class="sp">审批窗口 </a
                >
              </li>
              <li class="pc">
                <span class="border"></span>
              </li>
              <li>
                <a href="/zh/contact_zh.html"
                  ><img
                    src="/src/assets_2025/images/common/icon_footer02.svg"
                    alt="咨询处 "
                  />
                  咨询处 
                </a>
              </li>
              <li class="pc">
                <span class="border"></span>
              </li>
              <li>
                <a href="/zh/sitemap_zh.html"
                  ><img
                    src="/src/assets_2025/images/common/icon_footer03.svg"
                    alt="网站地图"
                  />网站地图</a
                >
              </li>
              <li class="pc">
                <span class="border"></span>
              </li>
              <li>
                <a href="/zh/brandglossary_zh.html"
                  ><img
                    src="/src/assets_2025/images/common/icon_footer04.svg"
                    alt="品牌用语集"
                  />品牌用语集</a
                >
              </li>
            </ul>
          </nav>
        </div>
        <div class="footer_remark">
          <p>
            本网站的所有信息均为“内部信息”，请按照“信息安全管理基本规程”进行处理。本网站由全公司品牌战略担当部门运营。有关网站内容的咨询，请联系<a href="https://iweb.is.jp.panasonic.com/brand/app/D100010.aspx?lang=ENG" target="_blank" rel="noopener noreferrer">品牌咨询和审批窗口</a>。
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
