---
import { kvData } from "../../data/kvDataZh";
const isPlay = true;
---

<div class="kv-slider">
  <div class="kv-slider__inner">
    <div class="kv-slider__item">
      <!-- Swiper -->
      <div class="swiper kvSwiper">
        <div class="swiper-wrapper">
          {
            kvData.map((item) => (
              <div class="swiper-slide">
                <a href={item.link}>
                  <img src={item.image} alt={item.title} />
                  <div class="message">
                    <p>
                      <span>{item.title}</span>
                    </p>
                  </div>
                </a>
              </div>
            ))
          }
        </div>
      </div>
      <div class="pagination-wrap">
        <div class="swiper-pagination"></div>
        <div class="play_btn">
          {
            isPlay ? (
              <button class="play_btn__btn" id="playPauseBtn">
                <img
                  src="/src/assets_2025/images/common/played.svg"
                  alt="play_btn"
                />
              </button>
            ) : (
              <button class="play_btn__btn" id="playPauseBtn">
                <img
                  src="/src/assets_2025/images/common/stoped.svg"
                  alt="pause_btn"
                />
              </button>
            )
          }
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  import Swiper from "swiper";
  import { Navigation, Pagination, EffectFade, Autoplay } from "swiper/modules";
  import "swiper/css/bundle";

  export const swiperConfig = {
    modules: [Navigation, Pagination, EffectFade, Autoplay],
    // Optional parameters
    loop: true,

    // If we need pagination
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    effect: "fade",

    // Navigation arrows
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    // And if we need scrollbar
    scrollbar: {
      el: ".swiper-scrollbar",
    },
    autoplay: {
      delay: 3000,
      disableOnInteraction: false,
    },
  };

  document.addEventListener('DOMContentLoaded', function() {
    const swiper = new Swiper(".kvSwiper", swiperConfig);
    const playPauseBtn = document.getElementById('playPauseBtn');
    const playBtnImg = playPauseBtn?.querySelector('img');

    if (playPauseBtn && playBtnImg) {
      playPauseBtn.addEventListener('click', () => {
        if (swiper.autoplay.running) {
          swiper.autoplay.stop();
          playBtnImg.src = '/src/assets_2025/images/common/stoped.svg';
        } else {
          swiper.autoplay.start();
          playBtnImg.src = '/src/assets_2025/images/common/played.svg';
        }
      });
    }
  });
</script>

<style lang="scss" scoped>
  @use "../../assets_2025/scss/kvSwiper.scss";
</style>


