---
import Layout from "../../layouts/LayoutEn.astro";
import Header from "../../components/en/Header.astro";
import KvSlider from "../../components/en/KvSlider.astro";
import WhatsNew from "../../components/en/WhatsNew.astro";
import TwoColumnLayout from "../../components/TwoColumnLayout.astro";
import TwoColumnLayoutImage from "../../components/TwoColumnLayoutImage.astro";
import DownloadIcon from "../../components/DownloadIcon.astro";
import Footer from "../../components/en/Footer.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Brand Expression Guidelines" bodyId="home">
  <Header />
  <section class="kv">
    <KvSlider />
  </section>
  <section class="whats-new">
    <WhatsNew />
  </section>
  <section class="bg-blue">
    <div class="container">
      <TwoColumnLayout
        title="Concept of Brand Logo Display"
        linkUrl="/en/guidelines/gl_ab_inportance_en.html"
        linkText="The Importance of Our Brand"
      >
        <div class="content">
          <p>
            The Panasonic brand represents a bond with customers developed through a variety of activities promoted by all employees. It is an important and irreplaceable asset created through strenuous efforts over the years.
          </p>
          <p>
            Brand displays in accordance with the rules are an important factor for protecting the trust in Panasonic and its brand value.
          </p>
        </div>
      </TwoColumnLayout>

      <TwoColumnLayout
        title="The Basic Principles for Brand Display"
        linkUrl="/en/guidelines/gl_bp_concept_disp_en.html"
        linkText="Basic Principles for Brand Display"
      >
        <div class="content">
          <h3>The Basic Principles for Brand Display are established with emphasis on originality, legality, and visibility.</h3>
          <div class="white_box">
            <div class="text_row">
              <div class="text_head">
                <h4>Originality:</h4>
              </div>
              <div class="text_body">
                <p>
                  Ensure to always display the brand logo independently and maintain consistency.
                </p>
              </div>
            </div>
            <div class="text_row">
              <div class="text_head">
                <h4>Legality:</h4>
              </div>
              <div class="text_body">
                <p>
                  Ensure to properly secure and assert our own rights, do not infringe on the rights of other companies, and respect their rights.
                </p>
              </div>
            </div>
            <div class="text_row">
              <div class="text_head">
                <h4>Visibility:</h4>
              </div>
              <div class="text_body">
                <p>
                  Avoid situations where the logo cannot be recognized due to its size or color or lacks clarity.
                </p>
              </div>
            </div>
          </div>
        </div>
      </TwoColumnLayout>
    </div>
  </section>
  <section class="logo_kind">
    <div class="container">
      <TwoColumnLayout
        title="Brand Logo Types to Be Used"
        linkUrl="/en/guidelines/gl_be_pl_plogo_en.html"
        linkText="Panasonic Logo"
      >
        <div class="content">
          <div class="flexbox">
            <div class="flexbox_item">
              <img
                src="/src/assets_2025/images/top/logo.png"
                alt="パナソニックロゴ"
              />
            </div>
            <div class="flexbox_item">
              <img
                src="/src/assets_2025/images/top/logo.png"
                alt="パナソニックロゴ"
              />
            </div>
            <div class="flexbox_item">
              <img
                src="/src/assets_2025/images/top/logo.png"
                alt="パナソニックロゴ"
              />
            </div>
          </div>
          <p>
            The default is to use <a
            href="/en/guidelines/gl_be_pl_standardlogo_en.html"
            >the standard form logo</a> (aspect ratio of 1:6.7). Use <a
            href="/en/guidelines/gl_be_pl_rtrademark_en.html"
            >the registered trademark ® logo</a> for operating instruction manuals, construction manuals, and packages, and on the back covers of catalogs (outside Japan). <a
            href="/en/guidelines/gl_be_pl_spe_proportion_en.html"
            >The special proportion logo</a> (aspect ratio of 1:7), which was designed for visibility reasons, may be used for displays on product bodies of less than 40 mm in width, or on the roofs of buildings.
          </p>
          <div class="download_btns">
            <div class="download_btn">
              <a
                href="/guidelines/gl_ld_logo_download.html"
              >
                <div class="icon">
                  <DownloadIcon />
                </div>
                <div class="text">
                  <p>Download the logo</p>
                  <p><span>Panasonic Group employees</span></p>
                </div>
              </a>
            </div>
            <div class="download_btn">
              <a
                href="/guidelines/gl_ld_logomanual_external.html"
              >
                <div class="icon">
                  <DownloadIcon />
                </div>
                <div class="text">
                  <p>Download the logo</p>
                  <p><span>outside of the Panasonic Group</span></p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </TwoColumnLayout>
    </div>
  </section>
  <section class="point bg-blue">
    <div class="container">
      <div class="section_head">
        <h2>Points to Note When Displaying the Logo</h2>
      </div>
      <TwoColumnLayoutImage
        imageUrl="/src/assets_2025/images/top/img_point01.png"
        alt="Clear Space"
        title="Clear Space"
      >
        <h3 class="pc">Clear Space</h3>
        <p>
          In order to set the Panasonic logo apart and maintain its symbolic function, it is required to ensure that the logo is as visible and independent as possible by leaving the required clear space around it. Other names, symbols, figures, and text may not be displayed next to the logo within the clear space.
        </p>
        <p>
          Defined special displays are allowed, but limited to cases where it is difficult to maintain a space of 1.0H or larger due to the layout.
        </p>
        <div class="link_list_box">
          <ul class="link_lists">
            <li>
              <a
                href="/en/guidelines/gl_be_pl_clearspace_en.html"
                >Clear Space <i class="arrow-right"></i></a
              >
            </li>
          </ul>
        </div>
      </TwoColumnLayoutImage>
      <TwoColumnLayoutImage
        imageUrl="/src/assets_2025/images/top/img_point02.png"
        alt="Logo and Background Colors"
        title="Logo and Background Colors"
      >
        <h3 class="pc">Logo and Background Colors</h3>
        <p>The Panasonic logo should be displayed in the Standard Color of the Panasonic Logo, i.e., Panasonic Blue, on a white background. When the background is the Standard Color, the Panasonic logo should generally be displayed in white.
        </p>
        <div class="link_list_box">
          <ul class="link_lists">
            <li>
              <a
                href="/en/guidelines/gl_be_pl_panablue_en.html"
                >Panasonic Blue <i class="arrow-right"></i></a
              >
            </li>
            <li>
              <a
                href="/en/guidelines/gl_be_pl_colorpriority_en.html"
                >Color Combination Priority Order <i class="arrow-right"></i></a
              >
            </li>
            <li>
              <a href="/en/guidelines/gl_be_pl_backcolor_en.html"
                >Background Color <i class="arrow-right"></i></a
              >
            </li>
            <li>
              <a href="/en/rules_approval/cr_co_app_backcolor_en.html"
                >Approval for the Special Use of Background Photos <i class="arrow-right"></i></a
              >
            </li>
            <li>
                <a href="/en/rules_approval/cr_co_spe_backcolor_en.html"
                >Special Use of Background Colors <i class="arrow-right"></i></a
              >
            </li>
          </ul>
        </div>
      </TwoColumnLayoutImage>
      <TwoColumnLayoutImage
        imageUrl="/src/assets_2025/images/top/img_point03.png"
        alt="Examples of Incorrect Use"
        title="Examples of Incorrect Use"
      >
        <h3 class="pc">Examples of Incorrect Use</h3>
        <p>The Panasonic logo is the symbol of our company and must always look identical.
          Only the specified forms of the brand logo may be used. Do not distort it without permission.
        </p>
        <div class="link_list_box">
          <ul class="link_lists">
            <li>
              <a href="/en/guidelines/gl_be_pl_corincor_en.html"
                >Display Examples <i class="arrow-right"></i></a
              >
            </li>
            <li>
              <a href="/en/guidelines/gl_be_pl_colcombi_en.html"
                >Color Combinations <i class="arrow-right"></i></a
              >
            </li>
            <li>
              <a href="/en/guidelines/gl_be_pl_backphoto_en.html"
                >Background Photos <i class="arrow-right"></i></a
              >
            </li>
            <li>
              <a href="/en/guidelines/gl_be_pl_exdispvideo_en.html"
                >Videos <i class="arrow-right"></i></a
              >
            </li>
            <li>
              <a href="/en/guidelines/gl_be_cl_bodytext_corincor_en.html"
                >Body Text <i class="arrow-right"></i></a
              >
            </li>
          </ul>
        </div>
      </TwoColumnLayoutImage>
    </div>
  </section>
  <section>
    <div class="container">
      <TwoColumnLayout title="Company Name Logo" linkUrl="/en//guidelines/gl_be_cl_comlogo_en.html" linkText="Company Name Logo">
        <div class="content">
          <div class="flexbox">
            <div class="flexbox_item">
              <img
                src="/src/assets_2025/images/top/img_pud01.png"
                alt="パナソニックホールディングス株式会社"
              />
            </div>
            <div class="flexbox_item">
              <img
                src="/src/assets_2025/images/top/img_pud02.png"
                alt="Panasonic Holdings Corporation"
              />
            </div>
          </div>
          <p>When indicating the company name logo in English and Japanese, use the Standard Font, PUD Sans Serif-M and PUD Shingo Hyouji-M.
          </p>
          <div class="link_list_box">
            <ul class="link_lists">
              <li>
                <a href="/en/guidelines/gl_ld_Affil_com_logo_en.html"
                  >Company Name Logo Data <i class="arrow-right"></i></a
                >
              </li>
              <li>
                <a href="/en/guidelines/gl_be_cl_group_corincor_en.html"
                  >Company Name / Company Group Logo: Correct and Incorrect Use <i class="arrow-right"
                  ></i></a
                >
              </li>
              <li>
                <a href="/en/guidelines/gl_be_pf_pudfont_en.html"
                  >PUD Font <i class="arrow-right"></i></a
                >
              </li>
            </ul>
          </div>
        </div>
      </TwoColumnLayout>
    </div>
  </section>
  <section class="bg-blue">
    <div class="container">
      <TwoColumnLayout
        title="Download"
        linkUrl="/en/guidelines/gl_ld_logo_download_en.html"
        linkText="Logo / Download"
        subTitle="(Brand logo, slogan, font, template, application form, etc.)"
      >
        <div class="content">
          <p>Data can be downloaded below for logos, fonts, templates,
            and forms needed for approval and other procedures.
          </p>
        </div>
      </TwoColumnLayout>
    </div>
  </section>
  <section>
    <div class="container">
      <TwoColumnLayout
        title="Other Rules"
        linkUrl="/en/guidelines/gl_otherrules_en.html"
        linkText="Other Rules"
        subTitle="Rules formulated by organizations other than the Group Brand Strategy Organization"
      >
        <div class="content">
          <p>The following tables provide links to rules, standards, manuals, etc., regarding the use and display of a Panasonic brand, which were established by divisions and companies other than the Group Brand Strategy Organization.
          </p>
        </div>
      </TwoColumnLayout>
    </div>
  </section>
  <section class="bg-blue">
    <div class="container">
      <TwoColumnLayout
        title="Corporate Rules & Standards / Approval Procedure"
        linkUrl="/en/rules_approval/cr_procedure_en.html"
        linkText="Approval Procedure"
      >
        <div class="content">
          <p>The section describes the procedure for seeking approval on matters related to the brand and company names.
          </p>

          <div class="link_list_box">
            <ul class="link_lists">
              <li>
                <a href="rules_approval/cr_co_spe_backcolor_en.html">
                  Special Use of Background Colors <i class="arrow-right"></i>
                </a>
              </li>
              <li>
                <a href="rules_approval/cr_na_panasonic_brand_en.html">
                  Registration of Names Including the Panasonic Brand <i class="arrow-right"></i>
                </a>
              </li>
              <li>
                <a href="rules_approval/cr_cs_promotion_en.html">
                  Ads and Sales Promotion <i class="arrow-right"></i>
                </a>
              </li>
              <li>
                <a href="rules_approval/cr_cs_good_service_en.html">
                  Goods / Services <i class="arrow-right"></i>
                </a>
              </li>
              <li>
                <a href="rules_approval/cr_sp_disp_product_en.html">
                  Special Rules for Display on Products <i class="arrow-right"></i>
                </a>
              </li>
              <li>
                <a href="rules_approval/cr_co_spe_brandlogo_en.html">
                  Special Use of the Brand Logo <i class="arrow-right"></i>
                </a>
              </li>
              <li>
                <a href="rules_approval/cr_nb_good_service_en.html">
                  No Brand Name <i class="arrow-right"></i>
                </a>
              </li>
              <li>
                <a href="rules_approval/cr_mc_licens_merchand_en.html">
                  Licensing of Merchandising Rights <i class="arrow-right"></i>
                </a>
              </li>
              <li>
                <a href="guidelines/gl_ap_as_tvcm_en.html">
                  Exceptions for CI Rules for TV Commercials and Other Videos <i class="arrow-right"></i>
                </a>
              </li>
              <li>
                <a href="rules_approval/cr_domain_name_en.html">
                  Domain Name Application <i class="arrow-right"></i>
                </a>
              </li>
              <li>
                <a href="rules_approval/cr_co_composite_logo_en.html">
                  Composite Logo <i class="arrow-right"></i>
                </a>
              </li>
              <li>
                <a href="rules_approval/cr_tr_app_licensing_en.html">
                  Approval Procedure for Brand Licensing <i class="arrow-right"></i>
                </a>
              </li>
              <li>
                <a href="rules_approval/cr_cn_rulenaming_affil_en.html">
                  Naming Affiliated Companies <i class="arrow-right"></i>
                </a>
              </li>
              <li>
                <a href="rules_approval/cr_estarevision_termi_en.html">
                  Brand Establishment, Revision, and Termination <i class="arrow-right"></i>
                </a>
              </li>
            </ul>
            
          </div>
        </div>
      </TwoColumnLayout>
    </div>
  </section>

  <section>
    <div class="container">
      <TwoColumnLayout
        title="FAQ"
        linkUrl="/en/faq_el/fa_index_en.html"
        linkText="FAQ"
      >
        <div class="content">
          <p>These are questions frequently received by the Brand Inquiry & Approval.
          </p>

          <div class="link_list_box">
            <ul class="link_lists">
              <li>
                <span
                  >Ms. Bran <small>(Learning about co-branding)</small>
                  <i class="arrow-right"></i></span
                >
              </li>
              <li>
                <a href="/en/faq_el/ca_index_en.html"
                  >Case Studies <i class="arrow-right"></i></a
                >
              </li>
            </ul>
          </div>
        </div>
      </TwoColumnLayout>
    </div>
  </section>

  <section class="bg-blue">
    <div class="container">
      <TwoColumnLayout
        title="E-learning"
        linkUrl="/en/faq_el/el_elearning_en.html"
        linkText="E-learning"
      >
        <div class="content">
          <p>In order to raise Panasonic Group employees' awareness of the brand, its basic principles and the rules for its use are explained.
          </p>

          <div class="link_list_box">
            <ul class="link_lists">
              <li>
                <a href="/en/faq_el/el_elearningbc_en.html"
                  > Basics Course <i class="arrow-right"></i></a
                >
              </li>
              <li>
                  <a href="/en/faq_el/el_elearningbr_en.html"
                  >Expression Rules <i class="arrow-right"></i></a
                >
              </li>
              <li>
                <a href="/en/faq_el/el_elearningep_en.html"
                  >Expert Version <i class="arrow-right"></i></a
                >
              </li>
              <li>
                <a href="/en/faq_el/el_elearningco_en.html"
                  >Co-Branding <i class="arrow-right"></i></a
                >
              </li>
            </ul>
          </div>
        </div>
      </TwoColumnLayout>
    </div>
  </section>
  <section>
    <div class="container">
      <TwoColumnLayout
        title="Brand Inquiry & Approval"
        linkUrl="https://iweb.is.jp.panasonic.com/brand/app/D100010.aspx?lang=ENG"
        linkText="Brand Inquiry & Approval"
      >
        <div class="content">
          <p>Inquiries regarding brand display rules and the approval of decision-making and application documents are accepted here. 

          </p>
        </div>
      </TwoColumnLayout>
    </div>
  </section>
  <Footer />
</Layout>

<style>
  @import "/src/assets_2025/css/top.css";
</style>
