---

---

<footer>
  <div class="footer_inner">
    <div class="footer-top">
      <div class="container">
        <h2>ブランド表示ガイドライン</h2>
        <div class="footer_cols">
          <div class="footer_col">
            <h3 class="js-footer-top-accordion-trigger">Panasonicロゴ</h3>
            <div class="footer_col_links">
              <ul>
                <li><a href="/guidelines/gl_be_pl_plogo.html">Panasonicロゴ 一覧</a></li>
                <li><a href="/guidelines/gl_be_pl_standardlogo.html">基本形ロゴ</a></li>
                <li><a href="/guidelines/gl_be_pl_rtrademark.html">登録商標表示®付きロゴ</a></li>
                <li><a href="/guidelines/gl_be_pl_spe_proportion.html">特殊タイプロゴ</a></li>
                <li><a href="/guidelines/gl_be_pl_clearspace.html">プロテクトエリア</a></li>
                <li><a href="/guidelines/gl_be_pl_panablue.html">Panasonicブルー</a></li>
                <li><a href="/guidelines/gl_be_pl_colorpriority.html">Panasonicロゴの表示色と優先順位</a></li>
                <li><a href="/guidelines/gl_be_pl_backcolor.html">背景色について</a></li>
                <li><a href="/guidelines/gl_be_pl_colcombi.html">誤った配色の事例</a></li>
                <li><a href="/guidelines/gl_be_pl_backphoto.html">背景に写真を使用する場合</a></li>
                <li><a href="/guidelines/gl_be_pl_corincor.html">Panasonicロゴ表示例（正・誤）</a></li>
                <li><a href="/guidelines/gl_be_cl_bodytext_corincor.html">文中表記（正・誤）</a></li>
                <li><a href="/guidelines/gl_be_pl_exdispvideo.html">映像における誤った使用事例</a></li>
                <li><a href="/guidelines/gl_be_pl_edgecolor.html">ロゴ文字端面色</a></li>
              </ul>
              <ul class="pc">
                <li><a href="/guidelines/gl_be_pg_pgrouplogo.html">Panasonic Groupロゴ</a></li>
              </ul>
              <ul class="pc">
                <li><a href="/guidelines/gl_be_businessbrands.html">事業会社ブランド</a></li>
              </ul>
              <ul class="pc">
                <li><a href="/guidelines/gl_be_ig_pendorsed_indica.html">パナソニック保証表示</a></li>
              </ul>
            </div>
            <div class="sp">
              <h3 class="no-child"><a href="/guidelines/gl_be_pg_pgrouplogo.html">Panasonic Groupロゴ</a></h3>
              <h3 class="no-child"><a href="/guidelines/gl_be_businessbrands.html">事業会社ブランド</a></h3>
              <h3 class="no-child"><a href="/guidelines/gl_be_ig_pendorsed_indica.html">パナソニック保証表示</a></h3>
            </div>
          </div>
          <div class="footer_col">
            <h3 class="js-footer-top-accordion-trigger">社名・グループ表記</h3>
            <div class="footer_col_links">
              <ul>
                <li><a href="/guidelines/gl_be_cl_comlogo.html">社名ロゴ</a></li>
                <li><a href="/guidelines/gl_be_cl_E_divaffcomlogo.html">社名ロゴ：英語</a></li>
                <li><a href="/guidelines/gl_be_cl_Z_divaffcomlogo.html">社名ロゴ：中国語</a></li>
                <li><a href="/guidelines/gl_be_cl_J_divaffcomlogo.html">社名ロゴ：日本語</a></li>
                <li><a href="/guidelines/gl_be_cl_grouplogo.html">企業グループ名ロゴ</a></li>
                <li><a href="/guidelines/gl_be_cl_group_corincor.html">社名・企業グループ表示例（正・誤）</a></li>
              </ul>
            </div>
            <h3 class="js-footer-top-accordion-trigger">PUDフォント</h3>
            <div class="footer_col_links">
              <ul>
                <li><a href="/guidelines/gl_be_pf_pudfont.html">PUDフォント</a></li>
                <li><a href="/guidelines/gl_be_pf_chinesefont.html">中文規程簡体字フォント</a></li>
              </ul>
              <ul>
                <li><a href="/guidelines/gl_ap_di_digital.html">デジタルメディアでの表示について</a></li>
              </ul>
              <ul>
                <li><a href="/guidelines/gl_ab_scope.html">ブランド表示ガイドラインについて</a></li>
              </ul>
            </div>

            <div class="sp">
              <h3 class="no-child">
                <a href="/guidelines/gl_ap_di_digital.html">デジタルメディアでの表示について</a>
              </h3>
              <h3 class="no-child">
                <a href="/guidelines/gl_ab_scope.html">ブランド表示ガイドラインについて</a>
              </h3>
            </div>
          </div>
          <div class="footer_col">
            <h3 class="js-footer-top-accordion-trigger">企業グループの表示</h3>
            <div class="footer_col_links">
              <ul>
                <li><a href="/guidelines/gl_ap_cg_comgroup.html">企業グループの表示 一覧</a></li>
                <li><a href="/guidelines/gl_ap_cg_badges.html">社員記章</a></li>
                <li><a href="/guidelines/gl_ap_cg_flags.html">社旗</a></li>
                <li><a href="/guidelines/gl_ap_cg_buildings.html">建物</a></li>
                <li><a href="/guidelines/gl_ap_cg_envelopes.html">封筒</a></li>
                <li><a href="/guidelines/gl_ap_cg_letterheads.html">レターヘッド</a></li>
                <li><a href="/guidelines/gl_ap_cg_businesscards.html">名刺</a></li>
                <li><a href="/guidelines/gl_ap_cg_nametags.html">名札・IDカード（社員証）</a></li>
                <li><a href="/guidelines/gl_ap_cg_entranssign.html">入口表示</a></li>
                <li><a href="/guidelines/gl_ap_cg_com_vehicles.html">社用車</a></li>
                <li><a href="/guidelines/gl_ap_cg_receptiondesk.html">受付</a></li>
                <li><a href="/guidelines/gl_ap_cg_publications.html">コーポレート刊行物</a></li>
                <li><a href="/guidelines/gl_ap_cg_powerpoint.html">パワーポイント</a></li>
              </ul>
            </div>
            <h3 class="js-footer-top-accordion-trigger">グループ外のブランド使用</h3>
            <div class="footer_col_links">
              <ul>
                <li><a href="/guidelines/gl_ap_os_branduse_outside.html">グループ外のブランド使用</a></li>
                <li><a href="/guidelines/gl_ap_os_branddisp_shop.html">専門店におけるブランド表示</a></li>
              </ul>
            </div>
          </div>
          <div class="footer_col">
            <h3 class="js-footer-top-accordion-trigger">宣伝・販促での表示</h3>
            <div class="footer_col_links">
              <ul>
                <li><a href="/guidelines/gl_ap_as_adsales_promo.html">宣伝・販促での表示</a></li>
                <li><a href="/guidelines/gl_ap_as_adsales_promo.html">宣伝・販促での表示 一覧</a></li>
                <li><a href="/guidelines/gl_ap_as_catalogs.html">カタログ</a></li>
                <li><a href="/guidelines/gl_ap_as_newsp_maga.html">新聞・雑誌広告</a></li>
                <li><a href="/guidelines/gl_ap_as_tvcm.html">TVCMなどの映像</a></li>
                <li><a href="/guidelines/gl_ap_as_pop.html">店頭POP</a></li>
                <li><a href="/guidelines/gl_ap_as_ooh_media.html">屋外広告</a></li>
                <li><a href="/guidelines/gl_ap_as_trans_ads.html">交通広告</a></li>
                <li><a href="/guidelines/gl_ap_as_fair_exhibition.html">展示会ブース</a></li>
                <li><a href="/guidelines/gl_ap_as_showroom.html">ショウルーム</a></li>
                <li><a href="/guidelines/gl_ap_as_sales_vehicles.html">営業車両</a></li>
              </ul>
            </div>
            <h3 class="js-footer-top-accordion-trigger">商品・サービスでの表示</h3>
            <div class="footer_col_links">
              <ul>
                <li><a href="/guidelines/gl_ap_ps_goodsservices.html">商品・サービスでの表示 一覧</a></li>
                <li><a href="/guidelines/gl_ap_ps_products.html">製品</a></li>
                <li><a href="/guidelines/gl_ap_ps_devices.html">デバイス</a></li>
                <li><a href="/guidelines/gl_ap_ps_packaging.html">包装箱</a></li>
                <li><a href="/guidelines/gl_ap_ps_warranties.html">保証書</a></li>
                <li><a href="/guidelines/gl_ap_ps_opemanuals.html">取扱説明書・施工説明書</a></li>
                <li><a href="/guidelines/gl_ap_ps_nameplate.html">製品銘板</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-middle">
      <div class="container">
        <h2 class="js-middle-title">全社規程・決裁</h2>
        <div class="footer_cols">
          <div class="footer_col">
            <div class="footer_col_links">
              <ul>
                <li><a href="/rules_approval/cr_procedure.html">決裁・手続き一覧</a></li>
              </ul>
              <ul>
                <li><a href="/rules_approval/cr_estarevision_termi.html">ブランドの制定・改廃について</a></li>
              </ul>
              <ul>
                <li><a href="/rules_approval/cr_cn_rulenaming_affil.html">関係会社社名付与基準について</a></li>
                <li><a href="/rules_approval/cr_cn_basic_requirement.html">基本条件</a></li>
                <li><a href="/rules_approval/cr_cn_create_comname.html">社名作成ルール</a></li>
                <li><a href="/rules_approval/cr_cn_chine_comname.html">中国語社名表記</a></li>
                <li><a href="/rules_approval/cr_cn_nameaffil_com.html">社名付与決裁</a></li>
              </ul>
              <ul>
                <li><a href="/rules_approval/cr_tr_brand_license.html">ブランドライセンス規程について</a></li>
                <li><a href="/rules_approval/cr_tr_basic_requirements.html">基本条件</a></li>
                <li><a href="/rules_approval/cr_tr_agreement.html">ブランドライセンス契約</a></li>
                <li><a href="/rules_approval/cr_tr_app_licensing.html">ブランドのライセンス決裁</a></li>
              </ul>
            </div>
          </div>
          <div class="footer_col">
            <div class="footer_col_links">
              <ul>
                <li><a href="/rules_approval/cr_corprules_standard_names.html">ネーム表示の特例</a></li>
              </ul>
              <ul>
                <li><a href="/rules_approval/cr_na_panasonic_brand.html">ブランド冠称名称について</a></li>
                <li><a href="/rules_approval/cr_na_scope_registration.html">決裁対象</a></li>
                <li><a href="/rules_approval/cr_na_method_disp.html">表示方法</a></li>
                <li><a href="/rules_approval/cr_na_app_name_pbrand.html">ブランド冠称名称決裁</a></li>
              </ul>
              <ul>
                <li><a href="/rules_approval/cr_mc_licens_merchand.html">商品化権許諾について</a></li>
                <li><a href="/rules_approval/cr_mc_basic_requirement.html">基本条件</a></li>
                <li><a href="/rules_approval/cr_mc_app_licensing.html">商品化権許諾決裁</a></li>
              </ul>
              <ul>
                <li><a href="/rules_approval/cr_nb_good_service.html">ノーブランドについて</a></li>
                <li><a href="/rules_approval/cr_nb_app_good_service.html">ノーブランド決裁</a></li>
              </ul>
            </div>
          </div>
          <div class="footer_col">
            <div class="footer_col_links">
              <ul>
                <li><a href="/rules_approval/cr_cs_cobranding.html">ダブルブランドについて</a></li>
                <li><a href="/rules_approval/cr_cs_ope_cobrand.html">ダブルブランドの種類と例外対応について</a></li>
                <li><a href="/rules_approval/cr_cs_good_service.html">商品・サービスのダブルブランド</a></li>
                <li><a href="/rules_approval/cr_cs_promotion.html">宣伝・販促のダブルブランド</a></li>
                <li><a href="/rules_approval/cr_cs_tech_standard_mark.html">技術・規格、認証、受賞マーク</a></li>
                <li><a href="/rules_approval/cr_cs_app_cobrand.html">ダブルブランド決裁</a></li>
              </ul>

              <ul>
                <li><a href="/rules_approval/cr_oe_oem.html">OEM供給について</a></li>
                <li><a href="/rules_approval/cr_oe_oem_transprecaut.html">OEM供給取引上の留意事項</a></li>
              </ul>
              <ul>
                <li><a href="/rules_approval/cr_sp_disp_product.html">商品ブランド表示の特例について</a></li>
              </ul>
            </div>
          </div>
          <div class="footer_col">
            <div class="footer_col_links">
              <ul>
                <li><a href="/rules_approval/cr_co_composite_logo.html">コンポジットロゴについて</a></li>
                <li><a href="/rules_approval/cr_co_app_composite_logo.html">コンポジットロゴ決裁</a></li>
              </ul>
              <ul>
                <li><a href="/rules_approval/cr_co_spe_backcolor.html">背景色の特例について</a></li>
                <li><a href="/rules_approval/cr_co_app_backcolor.html">背景色特例決裁</a></li>
              </ul>
              <ul>
                <li><a href="/guidelines/gl_ap_as_tvcm.html">TVCMなどの動画CIルール特例</a></li>
              </ul>
              <ul>
                <li><a href="/rules_approval/cr_domain_name.html">ドメインネーム申請</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="footer_nav">
          <nav>
            <ul>
              <li>
                <a href="https://iweb.is.jp.panasonic.com/brand/app/D100010.aspx?lang=JPN" target="_new"
                  ><img
                    src="/src/assets_2025/images/common/icon_footer01.svg"
                    alt="窓口"
                  />ブランド相談・<br class="sp">承認窓口</a
                >
              </li>
              <li class="pc">
                <span class="border"></span>
              </li>
              <li>
                <a href="/contact.html"
                  ><img
                    src="/src/assets_2025/images/common/icon_footer02.svg"
                    alt="お問い合わせ"
                  />
                  お問い合わせ
                </a>
              </li>
              <li class="pc">
                <span class="border"></span>
              </li>
              <li>
                <a href="/sitemap.html"
                  ><img
                    src="/src/assets_2025/images/common/icon_footer03.svg"
                    alt="サイトマップ"
                  />サイトマップ</a
                >
              </li>
              <li class="pc">
                <span class="border"></span>
              </li>
              <li>
                <a href="/brandglossary.html"
                  ><img
                    src="/src/assets_2025/images/common/icon_footer04.svg"
                    alt="ブランド用語集"
                  />ブランド用語集</a
                >
              </li>
            </ul>
          </nav>
        </div>
        <div class="footer_remark">
          <p>
            このサイトの情報は全て「社内情報」ですので、その取扱については、社内の「情報セキュリティ管理基本規程」に従うようにしてください。<br
            />このサイトは全社ブランド戦略担当部門が運営しております。サイトのコンテンツに関するお問い合わせは、ブランド相談・承認窓口までお願いします。
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
