@use "./global" as g;
header .header-bottom nav.main-nav ul.main-nav-lists > li > a.main-nav-link{
  font-size: 16px;
}
.header-bottom{
  .header-bottom-inner{
    .container{
      max-width: none;
      width: 100%; //レスポンシブさせない対応
    }
  }
}

div.content {
  .white_box {
    .text_row {
      .text_head {
        width: 120px;
        flex-shrink: 0;
      }
    }
  }
}

 //レスポンシブさせない対応
header .header-bottom nav.main-nav ul.main-nav-lists > li > a.main-nav-link{
  font-size: g.myClamp2(8,16);
  white-space: nowrap;
}

