
@use "./_global.scss" as g;
.kv-slider {
  background-color: white;
  height: 288px;
  width: 100%;
  .kv-slider__inner {
    height: 100%;
    width: 100%;
    .kv-slider__item {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      .kvSwiper {
        height: 100%;
      }
      .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        @include g.mq() {
          padding: 0 20px;
        }
        a {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            img {
              opacity: 1;
            }
          }
        }
        img {
          object-fit: contain;
          width: 100%;
          max-width: 100%;
          @include g.mq() {
            width: 100%;
            object-fit: contain;
            height: auto;
          }
        }
        .message {
          position: absolute;
          bottom: 15px;
          right: 40px;
          color: var(--Black, #3d3d3d);
          span {
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 28px; /* 175% */
            display: inline-block;
            background-color: white;
            padding: 5px 15px;
            border-radius: 25px;
          }
          @include g.mq() {
            bottom: 10px;
            right: 10px;
          }
        }
      }
    }
  }
  .pagination-wrap {
    position: absolute;
    width: 100%;
    top: auto;
    bottom: -40px;
    display: flex;
    justify-content: center;
    align-items: center;

    .play_btn__btn {
      position: relative;
      top: -7px;
      margin-left: 5px;
    }
  }
  .swiper-pagination {
    position: relative;
    width: auto;
  }
  .swiper-pagination-bullet {
    width: 80px !important;
    height: 10px;
    background-color: #3d3d3d;
    opacity: 1;
    @include g.mq() {
      height: 3px;
    }
  }
  .swiper-pagination-bullet-active {
    width: 10px;
  }
  .swiper-slide {
    background-color: white;
    opacity: 0;
    transition: all 0.3s ease;
    .message {
      opacity: 0;
      transition: all 0.3s ease;
    }
    &.swiper-slide-active {
      opacity: 1;
      .message {
        opacity: 1;
      }
    }
  }
}