---

---

<footer>
  <div class="footer_inner">
    <div class="footer-top">
      <div class="container">
        <h2>Brand Expression Guidelines</h2>
        <div class="footer_cols">
          <div class="footer_col">
            <h3 class="js-footer-top-accordion-trigger">Panasonic Logo</h3>
            <div class="footer_col_links">
              <ul>
                <li><a href="/en/guidelines/gl_be_pl_plogo_en.html">Panasonic Logo</a></li>
                <li><a href="/en/guidelines/gl_be_pl_standardlogo_en.html">Standard Form Logo</a></li>
                <li><a href="/en/guidelines/gl_be_pl_rtrademark_en.html">Logo with the Registered Trademark Symbol ®</a></li>
                <li><a href="/en/guidelines/gl_be_pl_spe_proportion_en.html">Special Proportion Logo</a></li>
                <li><a href="/en/guidelines/gl_be_pl_clearspace_en.html">Clear Space</a></li>
                <li><a href="/en/guidelines/gl_be_pl_panablue_en.html">Panasonic Blue</a></li>
                <li><a href="/en/guidelines/gl_be_pl_colorpriority_en.html">Panasonic Logo Colors and Order of Priority</a></li>
                <li><a href="/en/guidelines/gl_be_pl_backcolor_en.html">Background Color</a></li>
                <li><a href="/en/guidelines/gl_be_pl_colcombi_en.html">Incorrect Color Combinations</a></li>
                <li><a href="/en/guidelines/gl_be_pl_backphoto_en.html">Use of Photos for the Background of the Logo</a></li>
                <li><a href="/en/guidelines/gl_be_pl_corincor_en.html">Panasonic Logo: Correct and Incorrect Use</a></li>
                <li><a href="/en/guidelines/gl_be_cl_bodytext_corincor_en.html">Using Company Names in Body Text: Correct and Incorrect Use</a></li>
                <li><a href="/en/guidelines/gl_be_pl_exdispvideo_en.html">Examples of Incorrect Display in Videos</a></li>
                <li><a href="/en/guidelines/gl_be_pl_edgecolor_en.html">Colors of End Faces of Logo Characters</a></li>
              </ul>
              <ul class="pc">
                <li><a href="/en/guidelines/gl_be_pg_pgrouplogo_en.html">Panasonic Group Logo</a></li>
              </ul>
              <ul class="pc">
                <li><a href="/en/guidelines/gl_be_businessbrands_en.html">Operating Company Brand</a></li>
              </ul>
              <ul class="pc">
                <li><a href="/en/guidelines/gl_be_ig_pendorsed_indica_en.html">Panasonic-endorsed Logo Indication</a></li>
              </ul>
            </div>
            <div class="sp">
              <h3 class="no-child"><a href="/en/guidelines/gl_be_pg_pgrouplogo_en.html">Panasonic Group Logo</a></h3>
              <h3 class="no-child"><a href="/en/guidelines/gl_be_businessbrands_en.html">Operating Company Brand</a></h3>
              <h3 class="no-child"><a href="/en/guidelines/gl_be_ig_pendorsed_indica_en.html">Panasonic-endorsed Logo Indication</a></h3>
            </div>
          </div>
          <div class="footer_col">
            <h3 class="js-footer-top-accordion-trigger">Company Name Logo</h3>
            <div class="footer_col_links">
              <ul>
                <li><a href="/en/guidelines/gl_be_cl_comlogo_en.html">Company Name Logo</a></li>
                <li><a href="/en/guidelines/gl_be_cl_E_divaffcomlogo_en.html">Company Name Logos: English</a></li>
                <li><a href="/en/guidelines/gl_be_cl_Z_divaffcomlogo_en.html">Company Name Logos: Chinese</a></li>
                <li><a href="/en/guidelines/gl_be_cl_J_divaffcomlogo_en.html">Company Name Logos: Japanese</a></li>
                <li><a href="/en/guidelines/gl_be_cl_grouplogo_en.html">Company Group Logo</a></li>
                <li><a href="/en/guidelines/gl_be_cl_group_corincor_en.html">Company Name / Company Group Logo: Correct and Incorrect Use</a></li>
              </ul>
            </div>
            <h3 class="js-footer-top-accordion-trigger">PUD Font</h3>
            <div class="footer_col_links">
              <ul>
                <li><a href="/en/guidelines/gl_be_pf_pudfont_en.html">PUD Font</a></li>
                <li><a href="/en/guidelines/gl_be_pf_chinesefont_en.html">Standard Font for Simplified Chinese</a></li>
              </ul>
              <ul>
                <li><a href="/en/guidelines/gl_ap_di_digital_en.html">Digital</a></li>
              </ul>
              <ul>
                <li><a href="/en/guidelines/gl_ab_scope_en.html">Brand Expression Guidelines</a></li>
              </ul>
            </div>

            <div class="sp">
              <h3 class="no-child">
                <a href="/en/guidelines/gl_ap_di_digital_en.html">Digital</a>
              </h3>
              <h3 class="no-child">
                <a href="/en/guidelines/gl_ab_scope_en.html">Brand Expression Guidelines</a>
              </h3>
            </div>
          </div>
          <div class="footer_col">
            <h3 class="js-footer-top-accordion-trigger">Company Group</h3>
            <div class="footer_col_links">
              <ul>
                <li><a href="/en/guidelines/gl_ap_cg_comgroup_en.html">Company Group</a></li>
                <li><a href="/en/guidelines/gl_ap_cg_badges_en.html">Company Badges</a></li>
                <li><a href="/en/guidelines/gl_ap_cg_flags_en.html">Company Flags</a></li>
                <li><a href="/en/guidelines/gl_ap_cg_buildings_en.html">Buildings</a></li>
                <li><a href="/en/guidelines/gl_ap_cg_envelopes_en.html">Envelopes</a></li>
                <li><a href="/en/guidelines/gl_ap_cg_letterheads_en.html">Letterheads</a></li>
                <li><a href="/en/guidelines/gl_ap_cg_businesscards_en.html">Business Cards</a></li>
                <li><a href="/en/guidelines/gl_ap_cg_nametags_en.html">Name Tags / ID Cards (of Employees)</a></li>
                <li><a href="/en/guidelines/gl_ap_cg_entranssign_en.html">Entrance sign</a></li>
                <li><a href="/en/guidelines/gl_ap_cg_com_vehicles_en.html">Company Vehicles</a></li>
                <li><a href="/en/guidelines/gl_ap_cg_receptiondesk_en.html">Reception Desk</a></li>
                <li><a href="/en/guidelines/gl_ap_cg_publications_en.html">Corporate Publications</a></li>
                <li><a href="/en/guidelines/gl_ap_cg_powerpoint_en.html">PowerPoint</a></li>
              </ul>
            </div>
            <h3 class="js-footer-top-accordion-trigger">Brand Use Outside Our Company</h3>
            <div class="footer_col_links">
              <ul>
                <li><a href="/en/guidelines/gl_ap_os_branduse_outside_en.html">Brand Use Outside Our Company</a></li>
                <li><a href="/en/guidelines/gl_ap_os_branddisp_shop_en.html">Brand Display in Shops</a></li>
              </ul>
            </div>
          </div>
          <div class="footer_col">
            <h3 class="js-footer-top-accordion-trigger">Ads / Sales Promotion</h3>
            <div class="footer_col_links">
              <ul>
                <li><a href="/en/guidelines/gl_ap_as_adsales_promo_en.html">Ads / Sales Promotion</a></li>
                <li><a href="/en/guidelines/gl_ap_as_adsales_promo_en.html">Ads / Sales Promotion</a></li>
                <li><a href="/en/guidelines/gl_ap_as_catalogs_en.html">Catalogs</a></li>
                <li><a href="/en/guidelines/gl_ap_as_newsp_maga_en.html">Newspapers / Magazines</a></li>
                <li><a href="/en/guidelines/gl_ap_as_tvcm_en.html">TV Commercials and Other Videos</a></li>
                <li><a href="/en/guidelines/gl_ap_as_pop_en.html">In-Store Displays (POP)</a></li>
                <li><a href="/en/guidelines/gl_ap_as_ooh_media_en.html">OOH Media</a></li>
                <li><a href="/en/guidelines/gl_ap_as_trans_ads_en.html">Transportation Ads</a></li>
                <li><a href="/en/guidelines/gl_ap_as_fair_exhibition_en.html">Fairs and Exhibitions</a></li>
                <li><a href="/en/guidelines/gl_ap_as_showroom_en.html">Showroom</a></li>
                <li><a href="/en/guidelines/gl_ap_as_sales_vehicles_en.html">Business Vehicles</a></li>
              </ul>
            </div>
            <h3 class="js-footer-top-accordion-trigger">Goods / Services</h3>
            <div class="footer_col_links">
              <ul>
                <li><a href="/en/guidelines/gl_ap_ps_goodsservices_en.html">Goods / Services</a></li>
                <li><a href="/en/guidelines/gl_ap_ps_products_en.html">Products</a></li>
                <li><a href="/en/guidelines/gl_ap_ps_devices_en.html">Devices</a></li>
                <li><a href="/en/guidelines/gl_ap_ps_packaging_en.html">Packaging</a></li>
                <li><a href="/en/guidelines/gl_ap_ps_warranties_en.html">Warranties</a></li>
                <li><a href="/en/guidelines/gl_ap_ps_opemanuals_en.html">Operating Instructions Manuals / Construction Manuals</a></li>
                <li><a href="/en/guidelines/gl_ap_ps_nameplate_en.html">Product Nameplates</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-middle">
      <div class="container">
        <h2 class="js-middle-title">Corporate Rules & Standards / Apporoval Procedure</h2>
        <div class="footer_cols">
          <div class="footer_col">
            <div class="footer_col_links">
              <ul>
                <li><a href="/en/rules_approval/cr_procedure_en.html">Approval Procedure</a></li>
              </ul>
              <ul>
                <li><a href="/en/rules_approval/cr_estarevision_termi_en.html">Brand Establishment, Revision, and Termination</a></li>
              </ul>
              <ul>
                <li><a href="/en/rules_approval/cr_cn_rulenaming_affil_en.html">Rules for Naming Affiliated Companies</a></li>
                <li><a href="/en/rules_approval/cr_cn_basic_requirement_en.html">Basic Requirements</a></li>
                <li><a href="/en/rules_approval/cr_cn_create_comname_en.html">How to Create a Company Name</a></li>
                <li><a href="/en/rules_approval/cr_cn_chine_comname_en.html">Chinese Company Names</a></li>
                <li><a href="/en/rules_approval/cr_cn_nameaffil_com_en.html">Approval Procedure for Naming Affiliated Companies</a></li>
              </ul>
              <ul>
                <li><a href="/en/rules_approval/cr_tr_brand_license_en.html">Rules for Brand License</a></li>
                <li><a href="/en/rules_approval/cr_tr_basic_requirements_en.html">Basic Requirements</a></li>
                <li><a href="/en/rules_approval/cr_tr_agreement_en.html">Brand License Agreement</a></li>
                <li><a href="/en/rules_approval/cr_tr_app_licensing_en.html">Approval Procedure for Brand Licensing</a></li>
              </ul>
            </div>
          </div>
          <div class="footer_col">
            <div class="footer_col_links">
              <ul>
                <li><a href="/en/rules_approval/cr_corprules_standard_names_en.html">Special Rules for Name Expression</a></li>
              </ul>
              <ul>
                <li><a href="/en/rules_approval/cr_na_panasonic_brand_en.html">Names Including the Panasonic Brand</a></li>
                <li><a href="/en/rules_approval/cr_na_scope_registration_en.html">Scope of Registration</a></li>
                <li><a href="/en/rules_approval/cr_na_method_disp_en.html">Method of Display</a></li>
                <li><a href="/en/rules_approval/cr_na_app_name_pbrand_en.html">Approval Procedure for Names Including the Panasonic Brand</a></li>
              </ul>
              <ul>
                <li><a href="/en/rules_approval/cr_mc_licens_merchand_en.html">Licensing of Merchandising Rights</a></li>
                <li><a href="/en/rules_approval/cr_mc_basic_requirement_en.html">Basic Requirements</a></li>
                <li><a href="/en/rules_approval/cr_mc_app_licensing_en.html">Approval Procedure for Licensing Merchandising Rights</a></li>
              </ul>
              <ul>
                <li><a href="/en/rules_approval/cr_nb_good_service_en.html">Goods / Services with No Brand Name</a></li>
                <li><a href="/en/rules_approval/cr_nb_app_good_service_en.html">Approval Procedure for Goods / Services with No Brand Name</a></li>
              </ul>
            </div>
          </div>
          <div class="footer_col">
            <div class="footer_col_links">
              <ul>
                <li><a href="/en/rules_approval/cr_cs_cobranding_en.html">Co-Branding</a></li>
                <li><a href="/en/rules_approval/cr_cs_ope_cobrand_en.html">Categories and Exceptional Cases of Co-Branding</a></li>
                <li><a href="/en/rules_approval/cr_cs_good_service_en.html">Goods / Services</a></li>
                <li><a href="/en/rules_approval/cr_cs_promotion_en.html">Ads and Sales Promotion</a></li>
                <li><a href="/en/rules_approval/cr_cs_tech_standard_mark_en.html">Technology / Standard / Certification / Award-winning Marks</a></li>
                <li><a href="/en/rules_approval/cr_cs_app_cobrand_en.html">Approval Procedure for Co-Branding</a></li>
              </ul>

              <ul>
                <li><a href="/en/rules_approval/cr_oe_oem_en.html">OEM Supply</a></li>
                <li><a href="/en/rules_approval/cr_oe_oem_transprecaut_en.html">OEM Supply Transaction Precautions</a></li>
              </ul>
              <ul>
                <li><a href="/en/rules_approval/cr_sp_disp_product_en.html">Special Rules for Display on Products</a></li>
              </ul>
            </div>
          </div>
          <div class="footer_col">
            <div class="footer_col_links">
              <ul>
                <li><a href="/en/rules_approval/cr_co_composite_logo_en.html">Composite Logo</a></li>
                <li><a href="/en/rules_approval/cr_co_app_composite_logo_en.html">Approval Procedure for Composite Logo</a></li>
              </ul>
              <ul>
                <li><a href="/en/rules_approval/cr_co_spe_backcolor_en.html">Special Use of Background Colors</a></li>
                <li><a href="/en/rules_approval/cr_co_app_backcolor_en.html">Approval in the Special Cases of Background Colors</a></li>
              </ul>
              <ul>
                <li><a href="/en/guidelines/gl_ap_as_tvcm_en.html">Exceptions for CI Rules for TV Commercials and Other Videos</a></li>
              </ul>
              <ul>
                <li><a href="/en/rules_approval/cr_domain_name_en.html">Domain Name Application</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="footer_nav">
          <nav>
            <ul>
              <li>
                <a href="https://iweb.is.jp.panasonic.com/brand/app/D100010.aspx?lang=JPN" target="_new"
                  ><img
                    src="/src/assets_2025/images/common/icon_footer01.svg"
                    alt="Contact"
                  />Brand Inquiry & <br class="sp">Approval</a
                >
              </li>
              <li class="pc">
                <span class="border"></span>
              </li>
              <li>
                <a href="/contact.html"
                  ><img
                    src="/src/assets_2025/images/common/icon_footer02.svg"
                    alt="Contact"
                  />
                  Contact Information
                </a>
              </li>
              <li class="pc">
                <span class="border"></span>
              </li>
              <li>
                <a href="/sitemap.html"
                  ><img
                    src="/src/assets_2025/images/common/icon_footer03.svg"
                    alt="Sitemap"
                  />Site Map</a
                >
              </li>
              <li class="pc">
                <span class="border"></span>
              </li>
              <li>
                <a href="/brandglossary.html"
                  ><img
                    src="/src/assets_2025/images/common/icon_footer04.svg"
                    alt="Brand Glossary"
                  />Brand Glossary</a
                >
              </li>
            </ul>
          </nav>
        </div>
        <div class="footer_remark">
          <p>
            As all information in this site is the "internal information", please comply with the "Basic Rules for information Security Management".If you have any questions or comments regarding this site, please contact the Group Brand Strategy Organization (<a href="https://iweb.is.jp.panasonic.com/brand/app/D100010.aspx?lang=ENG" target="_blank" rel="noopener ">Brand Inquiry & Approval</a>).
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
