---
import { faqLinks } from "../../data/headerLinks3";
---

<div class="mega-menu mega-menu-sp">
  <ul class="links">
    {
      faqLinks.map((item) => (
        <li>
          <a href={item.urlEn}>{item.textEn}</a>
        </li>
      ))
    }
  </ul>
</div>
