/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

:root {
  --Panasonic-prime: #0041C0;
}

body {
  background-color: #F9F9F9;
  color: #3D3D3D;
  font-size: 1rem;
  line-height: 1.75rem;
  font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}

a {
  text-decoration: none;
}
a img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
a:hover {
  text-decoration: underline;
}
a:hover img {
  opacity: 0.6;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.pc {
  display: block;
}
@media screen and (max-width: 1px) {
  .pc {
    display: none;
  }
}

.sp {
  display: none;
}
@media screen and (max-width: 1px) {
  .sp {
    display: block;
  }
}

.header {
  width: 100%;
  position: relative;
  z-index: 1000;
}
.header .header-top,
.header .header-middle {
  -webkit-transition: opacity 0.3s ease, visibility 0.3s ease;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
@media screen and (max-width: 3px) {
  .header.is-sp-fixed .header-middle {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    -webkit-animation: slideDown 0.3s ease-in-out;
            animation: slideDown 0.3s ease-in-out;
  }
}
.header.is-scrolled .header-top,
.header.is-scrolled .header-middle {
  opacity: 0;
  visibility: hidden;
}
@media screen and (max-width: 3px) {
  .header.is-scrolled .header-middle {
    opacity: 1;
    visibility: visible;
  }
}
.header.is-scrolled .header-bottom {
  position: fixed;
  top: 0;
  left: 0;
}

@-webkit-keyframes slideDown {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (max-width: 1px) {
  .container {
    padding: 0 16px;
  }
}

.sptab {
  display: none;
}
@media screen and (max-width: 3px) {
  .sptab {
    display: block;
  }
}

.onlypc {
  display: block;
}
@media screen and (max-width: 3px) {
  .onlypc {
    display: none;
  }
}

header .header-top {
  padding: 16px 12px;
}
@media screen and (max-width: 3px) {
  header .header-top {
    padding-bottom: 38px;
  }
}
header .header-top .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
@media screen and (max-width: 3px) {
  header .header-top .logos .logo-panasonic a img {
    width: auto;
    height: 24px;
  }
}
@media screen and (max-width: 3px) {
  header .header-top .logos .logo-panasonic-sub a img {
    width: auto;
    height: 16px;
  }
}
header .header-top .logos .clear-cache {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
}
@media screen and (max-width: 3px) {
  header .header-top .logos .clear-cache {
    font-size: 10px;
    top: auto;
    bottom: -24px;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 100%;
    text-align: center;
  }
}
header .header-top .logos .clear-cache a {
  color: var(--Panasonic-prime, #0041c0);
}
header .header-middle {
  padding: 8px 12px;
  background-color: var(--Panasonic-prime);
  color: white;
  position: relative;
  z-index: 1002;
}
header .header-middle .humberger span {
  width: 24px;
  height: 2px;
  background-color: #fff;
  display: block;
  margin-bottom: 6px;
}
header .header-middle .humberger span:last-child {
  margin-bottom: 0;
}
header .header-middle .site-name {
  font-size: clamp(1.25rem, 1.029109589rem + 0.8219178082vw, 1.625rem);
  font-style: normal;
  font-weight: 600;
  line-height: 34px; /* 130.769% */
}
header .header-middle .header-middle-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
header .header-middle .header-middle-inner .header-search {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1003;
}
header .header-middle .header-middle-inner .header-search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
header .header-middle .header-middle-inner .header-search form input {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 175% */
  min-width: clamp(9.375rem, 4.7413793103rem + 17.2413793103vw, 18.75rem);
}
header .header-middle .header-middle-inner .header-search form input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
}
header .header-middle .header-middle-inner .header-search form input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
}
header .header-middle .header-middle-inner .header-search form input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
}
header .header-middle .header-middle-inner .header-search form input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
}
header .header-middle .header-middle-inner .header-search form input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
}
header .header-middle .header-middle-inner .header-search .header-search-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #fff;
  padding: 0px 12px 10px 5px;
  gap: 8px;
}
header .header-middle .header-middle-inner .header-search .info-icon {
  position: relative;
}
header .header-middle .header-middle-inner .header-search .info-icon .pop-up-dialog {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  z-index: 1004;
}
header .header-middle .header-middle-inner .header-search .info-icon .pop-up-dialog .pop-up-dialog__content {
  background-color: #fff;
  border: 1px solid #c6c6c6;
  padding: 16px;
  border-radius: 8px;
  width: 320px;
  color: #3d3d3d;
  position: relative;
}
header .header-middle .header-middle-inner .header-search .info-icon .pop-up-dialog .pop-up-dialog__content .pop-up-dialog__title {
  text-align: center;
  display: block;
  margin-bottom: 5px;
}
header .header-middle .header-middle-inner .header-search .info-icon:hover .pop-up-dialog {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
header .header-middle .header-middle-inner .sub_navis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  gap: 10px;
}
header .header-middle .header-middle-inner .sub_navis .sub_navi a.sub_navi-link {
  padding: 8px clamp(0.5rem, 0.3764367816rem + 0.4597701149vw, 0.75rem);
  border: 1px solid #fff;
  font-size: clamp(0.625rem, 0.5014367816rem + 0.4597701149vw, 0.875rem);
  font-style: normal;
  font-weight: 300;
  line-height: 14px; /* 100% */
  color: white !important;
}
header .header-middle .header-middle-inner .sub_navis .sub_navi a.sub_navi-link span {
  color: white !important;
}
header .header-middle .header-middle-inner .sub_navis .sub_navi .lang-switcher li a {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 171.429% */
  color: white !important;
}
header .header-middle .header-search-icon img {
  width: 32px;
  height: 32px;
}
header .header-bottom {
  position: relative;
  width: 100%;
  background: #fff;
  z-index: 1001;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media screen and (max-width: 3px) {
  header .header-bottom {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    position: fixed;
    top: 0;
    left: 0;
    width: 80vw;
    min-width: 320px;
    height: 100dvh;
    height: 100vh;
    overflow-y: auto;
  }
  header .header-bottom.is-active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    z-index: 1010;
  }
}
header .header-bottom.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
}
header .header-bottom .header-bottom-inner {
  padding: 28px 12px 28px;
}
@media screen and (max-width: 3px) {
  header .header-bottom .header-bottom-inner {
    padding: 20px 0;
  }
  header .header-bottom .header-bottom-inner .container {
    padding: 0;
  }
}
header .header-bottom .header-bottom-inner .sptab-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
  padding-left: 16px;
  padding-right: 16px;
}
header .header-bottom .header-bottom-inner .sptab-title::after {
  content: "";
  display: block;
  width: 100vw;
  height: 1px;
  background-color: #c6c6c6;
  position: absolute;
  left: -20px;
  bottom: 0;
}
header .header-bottom .header-bottom-inner .sptab-title h2 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 100% */
}
header .header-bottom .header-bottom-inner .sptab-title .close_btn img {
  width: 24px;
  height: 24px;
}
header .header-bottom nav.main-nav {
  position: relative;
}
@media screen and (max-width: 3px) {
  header .header-bottom nav.main-nav {
    min-height: calc(100dvh - 109px);
    padding-bottom: 120px;
  }
}
header .header-bottom nav.main-nav ul.main-nav-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 3px) {
  header .header-bottom nav.main-nav ul.main-nav-lists {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media screen and (max-width: 3px) {
  header .header-bottom nav.main-nav ul.main-nav-lists > li {
    width: 100%;
  }
  header .header-bottom nav.main-nav ul.main-nav-lists > li a {
    position: relative;
    padding-bottom: 20px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .header-bottom nav.main-nav ul.main-nav-lists > li a::after {
    content: "";
    display: block;
    width: 100vw;
    height: 1px;
    background-color: #c6c6c6;
    position: absolute;
    left: -20px;
    bottom: 0;
  }
}
header .header-bottom nav.main-nav ul.main-nav-lists > li > a.main-nav-link {
  color: var(--Panasonic-prime, #0041c0);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
  border-bottom: 2px solid transparent;
}
@media screen and (max-width: 3px) {
  header .header-bottom nav.main-nav ul.main-nav-lists > li > a.main-nav-link {
    font-size: 16px;
    border-bottom: none;
    padding-left: 16px;
  }
}
header .header-bottom nav.main-nav ul.main-nav-lists > li > a.main-nav-link:hover {
  text-decoration: none;
  opacity: 0.6;
}
header .header-bottom nav.main-nav ul.main-nav-lists > li.mega-menu-trigger {
  position: relative;
}
header .header-bottom nav.main-nav ul.main-nav-lists > li.mega-menu-trigger.is-active > a {
  color: var(--Panasonic-prime);
}
header .header-bottom nav.main-nav ul.main-nav-lists > li.mega-menu-trigger.is-active > a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--Panasonic-prime);
  position: absolute;
  bottom: -28px;
  left: 0;
}
@media screen and (max-width: 3px) {
  header .header-bottom nav.main-nav ul.main-nav-lists > li.mega-menu-trigger.is-active > a::after {
    content: "";
    display: block;
    width: 100vw;
    height: 1px;
    background-color: #c6c6c6;
    position: absolute;
    left: -20px;
    bottom: 0;
  }
}
header .header-bottom nav.main-nav ul.main-nav-lists > li.mega-menu-trigger.is-active > .sptab {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: auto;
  pointer-events: auto;
}
@media screen and (max-width: 3px) {
  header .header-bottom nav.main-nav ul.main-nav-lists > li.mega-menu-trigger {
    position: relative;
  }
  header .header-bottom nav.main-nav ul.main-nav-lists > li.mega-menu-trigger::before {
    content: "";
    width: 18px;
    height: 2px;
    background-color: var(--Panasonic-prime);
    position: absolute;
    right: 18px;
    top: 12px;
  }
  header .header-bottom nav.main-nav ul.main-nav-lists > li.mega-menu-trigger::after {
    content: "";
    width: 18px;
    height: 2px;
    background-color: var(--Panasonic-prime);
    position: absolute;
    right: 18px;
    top: 12px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  header .header-bottom nav.main-nav ul.main-nav-lists > li.mega-menu-trigger.is-active::after {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
header .header-bottom nav.main-nav ul.main-nav-lists > li.mega-menu-trigger > .sptab {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: 0;
  pointer-events: none;
}
header .header-bottom .mega-menu-sp .accordions .accordion {
  border-bottom: 1px solid #c6c6c6;
}
header .header-bottom .mega-menu-sp .accordions .accordion .accordion-header.is-active h3::before {
  -webkit-transform: translateY(-50%) rotate(0);
          transform: translateY(-50%) rotate(0);
  opacity: 0;
}
header .header-bottom .mega-menu-sp .accordions .accordion .accordion-header.is-active + .accordion-content {
  visibility: visible;
  opacity: 1;
  height: auto;
  pointer-events: auto;
}
header .header-bottom .mega-menu-sp .accordions .accordion .accordion-header h3 {
  color: var(--Panasonic-prime, #0041c0);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 171.429% */
  background-color: #efefef;
  padding: 12px 16px;
  position: relative;
}
header .header-bottom .mega-menu-sp .accordions .accordion .accordion-header h3::before {
  content: "";
  width: 18px;
  height: 2px;
  background-color: var(--Panasonic-prime);
  position: absolute;
  right: 18px;
  top: 12px;
}
header .header-bottom .mega-menu-sp .accordions .accordion .accordion-header h3::after {
  content: "";
  width: 18px;
  height: 2px;
  background-color: var(--Panasonic-prime);
  position: absolute;
  right: 18px;
  top: 12px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
header .header-bottom .mega-menu-sp .accordions .accordion .accordion-header h3.is-active::after {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
header .header-bottom .mega-menu-sp .accordions .accordion .accordion-header h3::after {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
header .header-bottom .mega-menu-sp .accordions .accordion .accordion-header h3::before {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
  opacity: 1;
}
header .header-bottom .mega-menu-sp .accordions .accordion .accordion-content {
  visibility: hidden;
  opacity: 0;
  height: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
header .header-bottom .mega-menu-sp .accordions .accordion .accordion-content ul li a {
  color: var(--Panasonic-prime, #0041c0);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 171.429% */
  padding: 12px 16px;
}
header .header-bottom .mega-menu-sp .accordions .accordion .accordion-content ul li a::after {
  content: none;
}
header .header-bottom .mega-menu-sp .accordions .normal_link a {
  color: var(--Panasonic-prime, #0041c0);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 171.429% */
  padding: 12px 16px;
  background-color: #efefef;
}
header .header-bottom .mega-menu-sp .accordions .normal_text h2 {
  color: #3d3d3d;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 171.429% */
  padding: 12px 16px;
  background-color: #efefef;
}
header .header-bottom .mega-menu-sp ul.links li a {
  color: var(--Panasonic-prime, #0041c0);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 171.429% */
  background-color: #fff;
  padding: 12px 16px;
}
@media screen and (max-width: 1px) {
  header .header-bottom .lang-switcher {
    position: absolute;
    bottom: 20px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
  }
  header .header-bottom .lang-switcher li a span {
    color: var(--Panasonic-prime, #0041c0);
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 171.429% */
  }
}
header .header-bottom .sp-nav_linkboxs {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
header .header-bottom .sp-nav_linkboxs .sp-nav_linkbox a {
  color: var(--Panasonic-prime, #0041c0);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  border: 0.5px solid var(--Panasonic-prime, #0041c0);
}

.kv-slider .swiper-pagination-bullet {
  width: 40px;
  height: 6px;
  border-radius: 6px;
  background: var(--Light-Gray, #c6c6c6);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.kv-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--Panasonic-prime, #0041c0);
  width: 80px;
}
@media screen and (max-width: 1px) {
  .kv-slider .swiper-pagination-bullet {
    height: 3px;
  }
}

.btn_area .btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 10px 8px 10px 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  border: 1px solid var(--Panasonic-prime, #0041c0);
  background: #fff;
  color: var(--Panasonic-prime, #0041c0);
  font-family: "Hiragino Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 16px */
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn_area .btn:hover {
  text-decoration: none;
  opacity: 1;
  background: var(--Light-Blue, #ebf2ff);
}
.btn_area .btn:hover img {
  opacity: 1;
}

section {
  padding: 80px 0;
}
@media screen and (max-width: 1px) {
  section {
    padding: 60px 0;
  }
}
section .section_head h2 {
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px; /* 130.769% */
}

section.bg-blue {
  background: var(--Light-Blue, #ebf2ff);
}

div.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
@media screen and (max-width: 1px) {
  div.flexbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
div.flexbox .flexbox_item {
  width: 100%;
}
@media screen and (max-width: 1px) {
  div.flexbox .flexbox_item {
    text-align: center;
  }
}
div.flexbox .flexbox_item img {
  width: 100%;
}
@media screen and (max-width: 1px) {
  div.flexbox .flexbox_item img {
    width: auto;
  }
}
div.flexbox + p {
  margin-top: 20px;
}

.two-column-layout h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 140% */
}
.two-column-layout h3 + p {
  margin-top: 20px;
}

.two-column-layout_image {
  margin-top: 40px;
  padding: 40px 0;
  border-bottom: 1px solid #c6c6c6;
  border-top: 1px solid #c6c6c6;
}
.two-column-layout_image + .two-column-layout_image {
  border-top: none;
  margin-top: 0;
}

.link_list_box {
  margin-top: 16px;
}
@media screen and (max-width: 1px) {
  .link_list_box {
    margin-top: 28px;
  }
}
.link_list_box ul.link_lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
}
.link_list_box ul.link_lists li a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 6px 8px 6px 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  border-radius: 30px;
  border: 1px solid var(--Light-Blue, #ebf2ff);
  background: #fff;
  color: var(--Panasonic-prime, #0041c0);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.link_list_box ul.link_lists li a:hover {
  text-decoration: none;
  border-radius: 20px;
  border: 1px solid var(--Panasonic-prime, #0041c0);
  background: var(--Light-Blue, #ebf2ff);
}
.link_list_box ul.link_lists li a .arrow-right {
  width: 16px;
  height: 16px;
  background-image: url(../images/common/arrow-forward.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.link_list_box ul.link_lists li span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 6px 8px 6px 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  border-radius: 30px;
  border: 1px solid var(--Light-Blue, #ebf2ff);
  background: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
}
.link_list_box ul.link_lists li span small {
  font-size: 12px;
  font-weight: 300;
}
.link_list_box ul.link_lists li span .arrow-right {
  width: 16px;
  height: 16px;
  background-image: url(../images/common/arrow-forward-disable.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.download_btn a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 12px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  border-radius: 8px;
  background: var(--Panasonic-prime, #0041c0);
  text-decoration: none;
  border: 1px solid var(--Panasonic-prime, #0041c0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  min-width: 235px;
}
@media screen and (max-width: 1px) {
  .download_btn a {
    width: 100%;
  }
}
.download_btn a .icon {
  padding-right: 12px;
  border-right: 1px solid #fff;
}
.download_btn a .icon img {
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.download_btn a .icon svg {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.download_btn a .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 8px;
}
.download_btn a .text p {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 16px */
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.download_btn a .text p span {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%; /* 14.4px */
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.download_btn a:hover {
  border: 1px solid var(--Panasonic-prime, #0041c0);
  background: #fff;
  color: var(--Panasonic-prime, #0041c0);
}
.download_btn a:hover .icon svg path {
  fill: var(--Panasonic-prime, #0041c0);
}
.download_btn a:hover .text p {
  color: var(--Panasonic-prime, #0041c0);
}
.download_btn a:hover .text p span {
  color: var(--Panasonic-prime, #0041c0);
}

footer h2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
}
footer .footer-top {
  background-color: #3d3d3d;
  padding: 40px 0;
  color: #fff;
}
footer .footer_cols {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
}
@media screen and (max-width: 1px) {
  footer .footer_cols {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
}
footer .footer_cols .footer_col {
  width: 100%;
}
footer .footer_cols .footer_col h3 {
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%; /* 14.4px */
  padding-bottom: 12px;
  border-bottom: 1px solid #c6c6c6;
  margin-bottom: 12px;
}
footer .footer_cols .footer_col h3.no-child::after {
  content: none;
}
footer .footer_cols .footer_col h3.no-child::before {
  content: none;
}
@media screen and (max-width: 1px) {
  footer .footer_cols .footer_col h3 {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px; /* 175% */
    position: relative;
    padding-bottom: 8px;
    margin-bottom: 20px;
  }
  footer .footer_cols .footer_col h3 + div.footer_col_links {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    height: 0;
    overflow: hidden;
    pointer-events: none;
  }
  footer .footer_cols .footer_col h3::before {
    content: "";
    width: 18px;
    height: 2px;
    background-color: var(--Panasonic-prime);
    position: absolute;
    right: 18px;
    top: 12px;
  }
  footer .footer_cols .footer_col h3::after {
    content: "";
    width: 18px;
    height: 2px;
    background-color: var(--Panasonic-prime);
    position: absolute;
    right: 18px;
    top: 12px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  footer .footer_cols .footer_col h3.is-active::after {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  footer .footer_cols .footer_col h3::after {
    background-color: #d9d9d9;
  }
  footer .footer_cols .footer_col h3::before {
    background-color: #d9d9d9;
  }
  footer .footer_cols .footer_col h3.is-active::before {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  footer .footer_cols .footer_col h3.is-active + div.footer_col_links {
    visibility: visible;
    opacity: 1;
    height: auto;
    pointer-events: auto;
  }
}
footer .footer_cols .footer_col .footer_col_links ul li {
  margin-bottom: 5px;
}
footer .footer_cols .footer_col .footer_col_links ul li a {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 171.429% */
  color: #fff !important;
}
footer .footer_cols .footer_col .footer_col_links ul + ul {
  margin-top: 28px;
}
footer .footer_cols .footer_col .footer_col_links + h3 {
  margin-top: 28px;
}
@media screen and (max-width: 1px) {
  footer .footer_cols .footer_col .footer_col_links + h3 {
    margin-top: 0;
  }
}
footer .footer-middle {
  background-color: #fff;
  padding: 40px 0;
  color: #0041c0;
}
footer .footer-middle .footer_cols .footer_col .footer_col_links ul li a {
  color: #0041c0 !important;
}
@media screen and (max-width: 1px) {
  footer .footer-middle .footer_cols .footer_col .footer_col_links ul + ul {
    margin-top: 0;
  }
}
footer .footer-middle h2 {
  color: #3d3d3d;
  position: relative;
}
@media screen and (max-width: 1px) {
  footer .footer-middle h2 {
    color: #0041c0;
  }
  footer .footer-middle h2.is-active::before {
    -webkit-transform: translateY(-50%) rotate(0);
            transform: translateY(-50%) rotate(0);
  }
  footer .footer-middle h2.is-active + .footer_cols {
    visibility: visible;
    opacity: 1;
    height: auto;
    pointer-events: auto;
    margin-top: 20px;
  }
  footer .footer-middle h2 + .footer_cols {
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
    pointer-events: none;
    margin-top: 0;
  }
  footer .footer-middle h2::before {
    content: "";
    width: 18px;
    height: 2px;
    background-color: var(--Panasonic-prime);
    position: absolute;
    right: 18px;
    top: 12px;
  }
  footer .footer-middle h2::after {
    content: "";
    width: 18px;
    height: 2px;
    background-color: var(--Panasonic-prime);
    position: absolute;
    right: 18px;
    top: 12px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  footer .footer-middle h2.is-active::after {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
footer .footer-middle .footer-middle_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
}
footer .footer-bottom {
  padding: 28px 0;
}
footer .footer-bottom .footer_nav nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
@media screen and (max-width: 1px) {
  footer .footer-bottom .footer_nav nav ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .footer-bottom .footer_nav nav ul li {
    width: calc(50% - 10px);
  }
}
footer .footer-bottom .footer_nav nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  color: var(--Panasonic-prime, #0041c0);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 140% */
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media screen and (max-width: 1px) {
  footer .footer-bottom .footer_nav nav ul li a {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px; /* 175% */
  }
}
@media screen and (max-width: 1px) {
  footer .footer-bottom .footer_nav nav ul li a img {
    width: 32px;
    height: 32px;
  }
}
footer .footer-bottom .footer_nav nav ul li a:hover {
  text-decoration: none;
  opacity: 0.6;
}
footer .footer-bottom .footer_nav nav ul li a:hover img {
  opacity: 1;
}
footer .footer-bottom .footer_nav nav ul li span.border {
  display: block;
  width: 1px;
  height: 18px;
  background-color: #c6c6c6;
}
footer .footer-bottom .footer_remark {
  margin-top: 28px;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 171.429% */
}
@media screen and (max-width: 1px) {
  footer .footer-bottom .footer_remark {
    text-align: left;
  }
}

main {
  padding-top: 0;
  -webkit-transition: padding-top 0.3s ease;
  transition: padding-top 0.3s ease;
}
main.is-header-fixed {
  padding-top: 84px;
}

.mega-menus {
  position: relative;
  width: 100%;
}
.mega-menus .mega-menu {
  position: absolute;
  height: calc(100vh - 84px);
  overflow-y: auto;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 28px 0;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease, visibility 0.3s ease, top 0.3s ease;
  transition: opacity 0.3s ease, visibility 0.3s ease, top 0.3s ease;
  display: block;
}
.mega-menus .mega-menu.is-active {
  opacity: 1;
  visibility: visible;
}
.header.is-scrolled .mega-menus .mega-menu {
  position: fixed;
  top: 84px;
}
.mega-menus .mega-menu .close-mega-menu {
  position: sticky;
  top: 20px;
  text-align: right;
  padding-right: 20px;
}
.mega-menus .mega-menu .close-mega-menu img {
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.mega-menus .mega-menu h2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 140% */
}
.mega-menus .mega-menu .mega-menu-contents {
  margin-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.mega-menus .mega-menu .mega-menu-contents .mega-menu-content {
  width: 100%;
}
.mega-menus .mega-menu .mega-menu-contents .mega-menu-content h3 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
  border-bottom: 1px solid #0041c0;
  padding-bottom: 4px;
}
.mega-menus .mega-menu .mega-menu-contents .mega-menu-content p.link {
  margin-top: 20px;
  color: var(--Panasonic-prime, #0041c0);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 171.429% */
}
.mega-menus .mega-menu .mega-menu-contents .mega-menu-content .mega-menu-content-item-linkwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
  gap: 20px;
  width: 100%;
}
.mega-menus .mega-menu .mega-menu-contents .mega-menu-content .mega-menu-content-item-linkwrapper .mega-menu-content-item {
  width: 100%;
}
.mega-menus .mega-menu .mega-menu-contents .mega-menu-content .mega-menu-content-item-linkwrapper .mega-menu-content-item h4 {
  color: var(--Black, #3d3d3d);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
}
.mega-menus .mega-menu .mega-menu-contents .mega-menu-content .mega-menu-content-item-linkwrapper .mega-menu-content-item h4 + ul li:first-child {
  margin-top: 6px;
}
.mega-menus .mega-menu .mega-menu-contents .mega-menu-content .mega-menu-content-item-linkwrapper .mega-menu-content-item ul li {
  margin-top: 6px;
}
.mega-menus .mega-menu .mega-menu-contents .mega-menu-content .mega-menu-content-item-linkwrapper .mega-menu-content-item ul li:first-child {
  margin-top: 0;
}
.mega-menus .mega-menu .mega-menu-contents .mega-menu-content .mega-menu-content-item-linkwrapper .mega-menu-content-item ul li a {
  color: var(--Panasonic-prime, #0041c0);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 171.429% */
}
.mega-menus .mega-menu .mega-menu-contents .mega-menu-content .mega-menu-content-item-linkwrapper .mega-menu-content-item ul + h4 {
  margin-top: 28px;
}

.menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
}
.menu-overlay.is-active {
  display: block;
}

.download_btns {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
@media screen and (max-width: 1px) {
  .download_btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#contNavWrap,
#Header {
  display: none;
}

.container {
  width: 1110px;
}

.header {
  min-width: 1110px;
}

footer {
  min-width: 1110px;
}

.header-middle {
  min-width: 1180px;
}/*# sourceMappingURL=common.css.map */